p(style="display: none") Flo Adventure Tours - agentie de turism de aventura
//Logos and sponsors
div.wrapper.coloured.orange
    div.hoc.clear
        figure#logos
            ul.nospace.group
                li
                    a
                        img(src="/images/logo-tete.png", alt="Tete Mountain")
                li
                    a(href='http://www.freewall.ro', title="FreeWall")
                        img(src="/images/logo-free.png", alt="FreeWall sala de escalada")
                li
                    a(href='https://www.pronutrition.ro', title="Pro Nutrition")
                        img(src="/images/logo-pro.png", alt="Pro Nutrition")
                li
                    a(href='https://lowealpine.com/eu/', title="Lowe Alpine")
                        img(src="/images/logo-lowe-comp.png", alt="Lowe Alpine")

div.page-description.orange.dark-grey-color
    div#footer.hoc.container.clear.downspace-50.upspace-40(data-device="#{type}")
        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Despre noi
            //a(href="/planificator").font-montserrat-light planificator
            a(href="/contact", title="Contact").font-montserrat-light contact
            a(href="/inscriere", title="Inscriere").font-montserrat-light inscriere
            a(href="/sitemap.xml", title="Sitemap").font-montserrat-light sitemap



        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Echipa
            a(href="http://www.extremromania.ro", title="Extrem Romania").font-montserrat-light extremromania
            a(href="http://www.freewall.ro", title="FreeWall").font-montserrat-light freewall



        div.flex-1-5.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Abonare

            form.dark-grey-color(action="/abonare", method="post")
                input(type="text", name="email", placeholder="E-mail", required)
                button.dark-grey trimite
            a(href="https://www.facebook.com/floadventure/", title="Facebook Flo Adventure").inline.dark-grey-color.fa.fa-2x.fa-facebook-f.padding-left-right-10
            a(href="https://www.youtube.com/channel/UCpxI7-uEqDFqVevg9UB3PDQ/videos", title="Youtube Flo Adventure").inline.dark-grey-color.fa.fa-2x.fa-youtube-square.padding-left-right-10
            div(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button-count", data-size="small" data-mobile-iframe="true").fa.fa-2x.fa-share-alt-square.inline.dark-grey-color
                a.font-open-sans.share-button.fb-xfbml-parse-ignore.inline(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent(ogurl)}&amp;src=sdkpreparse", title="Share") Share



//Copyright
div.orange.dust-white-color.border-line
    div#copyright.hoc.clear.dust-white-color
        span Copyright &copy; 2019 - All Rights Reserved -
        span.dark-grey-color  Flo Adventure Tours

div#fb-root
script.
    function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
