- classHome = (navigation == 'home'? 'active': '')
- classRomania = (navigation == 'romania'? 'active': '')
- classExpeditii = (navigation == 'expeditii'? 'active': '')
- classContact = (navigation == 'contact'? 'active': '')
- classInscriere = (navigation == 'inscriere'? 'active': '')

ul.fl.clear

    i.fa.fa-close.fa-2x.upper
    li.fl.home-desk(class=classHome)
        a(href="/", title="Home").fa.fa-home
    li.fl.home-mob(class=classHome)
        a(href="/", title="Home") Acasa
        
    li.fl(class=classRomania)

        a.drop Romania
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/4x4-3-zile", title="4x4 in 3 zile") 4x4 in 3 zile
            li.sl
                a(href="/4x4-5-zile", title="4x4 in 5 zile") 4x4 in 5 zile
            li.sl
                a(href="/apuseni-3-zile", title="3 zile in Apuseni") 3 zile in Apuseni
            li.sl
                a(href="/apuseni-5-zile", title="5 zile in Apuseni") 5 zile in Apuseni

    li.fl(class=classExpeditii)

        a.drop Expeditii
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a.drop Alpi

                ul.tl
                    li.tl
                        a(href="/montblanc", title="Mont Blanc") Mont Blanc
                    li.tl
                        a(href="/grossglockner", title="Grossglockner") Grossglockner
            li.sl
                a(href="/elbrus", title="Elbrus") Elbrus
            li.sl
                a(href="/kilimanjaro", title="Kilimanjaro") Kilimanjaro
            li.sl
                a(href="/maroc", title="Maroc") Maroc
            li.sl
                a.drop Everest
                ul.tl
                    li.tl
                        a(href="/everest-basecamp", title="Base camp") Base camp
                    li.tl
                        a(href="/everest-intoarcerea-cu-elicopter", title="Intoarcerea cu elicopterul") Intoarcerea cu elicopterul
                    li.tl
                        a(href="/island-peak-basecamp", title="Island Peak, Chhukung Ri si Nangkartshang") Island Peak, Chhukung Ri si Nangkartshang
            li.sl
                a(href="/k2-basecamp", title="K2 Base camp") K2 Base camp

    li.fl(class=classInscriere)
        a(href="/inscriere", title="Inscriere") Inscriere

    li.fl(class=classContact)
        a(href="/contact", title="Contact") Contact

    