- classHome = (navigation == 'home'? 'active': '')
- classRomania = (navigation == 'romania'? 'active': '')
- classExpeditii = (navigation == 'expeditii'? 'active': '')
- classCursuri = (navigation == 'cursuri'? 'active': '')

ul.fl.clear

    i.fa.fa-close.fa-2x.upper.dust-white-color
    li.fl.home-desk(class=classHome)
        a(href="/", title="Acasa").fa.fa-home
    li.fl.home-mob(class=classHome)
        a(href="/", title="Acasa") #{i18n.__("navigation.acasa")}

    li.fl(class=classRomania)

        a(href="/romania", title="Romania").drop #{i18n.__("navigation.romania")}
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/apuseni-3-zile", title="3 zile in Apuseni") #{i18n.__("navigation.apuseni3")}
            li.sl
                a(href="/apuseni-5-zile", title="5 zile in Apuseni") #{i18n.__("navigation.apuseni5")}

    li.fl(class=classCursuri)

        a(href="#", title="Cursuri").drop #{i18n.__("navigation.cursuri")}
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/4x4-3-zile", title="4x4 in 3 zile") #{i18n.__("navigation.patru3")}
            li.sl
                a(href="/4x4-5-zile", title="4x4 in 5 zile") #{i18n.__("navigation.patru5")}
            li.sl
                a(href="/family-survival", title="Tabara Family Survival") Family Survival

    li.fl(class=classExpeditii)

        a(href="/expeditii").drop #{i18n.__("navigation.expeditii")}
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a.drop(href="/montblanc", title="Mont Blanc") #{i18n.__("navigation.montblanc")}
            li.sl
                a.drop(href="/grossglockner", title="Grossglockner") Grossglockner
            li.sl
                a(href="/elbrus", title="Elbrus") Elbrus
            li.sl
                a(href="kilimanjaro", title="Kilimanjaro") Kilimanjaro
            li.sl
                a(href="/maroc", title="Jebel Toubkal") Jebel Toubkal
            li.sl
                a(href="everest-basecamp", title="Everest Base camp") Everest Base camp
            li.sl
                a(href="/everest-intoarcerea-cu-elicopter", title="Intoarcerea cu elicopterul") #{i18n.__("navigation.elicopter")}
            li.sl
                a(href="/island-peak-basecamp", title="Island Peak") Island Peak
                
            li.sl
                a(href="/k2-basecamp", title="K2 Base camp") K2 Base camp

    li.inscriere-mob.fl
        a(href="/inscriere", title="Inscriere") #{i18n.__("navigation.inscriere")}

    li.fl
        a(href="/contact", title="Contact") #{i18n.__("navigation.contact")}

    