- classHome = (navigation == 'home'? 'active': '')
- classRomania = (navigation == 'romania'? 'active': '')
- classExpeditii = (navigation == 'expeditii'? 'active': '')
- classContact = (navigation == 'contact'? 'active': '')
- classPlanificator = (navigation == 'planificator'? 'active': '')
- classInscriere = (navigation == 'inscriere'? 'active': '')

ul.fl.clear

    i.fa.fa-close.fa-2x.upper
    li.fl.home-desk(class=classHome)
        a(href="/").fa.fa-home
    li.fl.home-mob(class=classHome)
        a(href="/") Acasa

    //li.fl(class=classPlanificator)
    //    a.drop(href="/planificator") Planificator
        
    li.fl(class=classRomania)

        a.drop Romania
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/4x4-3-zile") 4x4 in 3 zile
            li.sl
                a(href="/4x4-5-zile") 4x4 in 5 zile
            li.sl
                a(href="/apuseni-3-zile") 3 zile in Apuseni
            li.sl
                a(href="/apuseni-5-zile") 5 zile in Apuseni

    li.fl(class=classExpeditii)

        a.drop Expeditii
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a.drop(href="") Alpi

                ul.tl
                    li.tl
                        a(href="/montblanc") Mont Blanc
                    li.tl
                        a(href="/grossglockner") Grossglockner
            li.sl
                a(href="/elbrus") Elbrus
            li.sl
                a Kilimanjaro
            li.sl
                a(href="/maroc") Maroc
            li.sl
                a.drop Everest
                ul.tl
                    li.tl
                        a(href="/everest-basecamp") Base camp
                    li.tl
                        a(href="/everest-intoarcerea-cu-elicopter") Intoarcerea cu elicopterul
                    li.tl
                        a(href="/island-peak-basecamp") Island Peak, Chhukung Ri si Nangkartshang
            li.sl
                a K2 Base camp

    li.fl(class=classInscriere)
        a(href="/inscriere") Inscriere

    li.fl(class=classContact)
        a(href="/contact") Contact

    