- classHome = (navigation == 'home'? 'active': '')
- classRomania = (navigation == 'romania'? 'active': '')
- classExpeditii = (navigation == 'expeditii'? 'active': '')
- classCursuri = (navigation == 'cursuri'? 'active': '')

ul.fl.clear

    i.fa.fa-close.fa-2x.upper.dust-white-color
    li.fl.home-desk(class=classHome)
        a(href="/", title="Acasa").fa.fa-home
    li.fl.home-mob(class=classHome)
        a(href="/", title="Acasa") Acasa

    li.fl(class=classRomania)

        a(href="/romania", title="Romania").drop Romania
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/apuseni-3-zile", title="3 zile in Apuseni") 3 zile in Apuseni
            li.sl
                a(href="/apuseni-5-zile", title="5 zile in Apuseni") 5 zile in Apuseni

    li.fl(class=classCursuri)

        a(href="#", title="Cursuri").drop Cursuri
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/4x4-3-zile", title="4x4 in 3 zile") 4x4 in 3 zile
            li.sl
                a(href="/4x4-5-zile", title="4x4 in 5 zile") 4x4 in 5 zile
            li.sl
                a(href="/tabara-family-survival", title="Tabara Family Survival") Family Survival

    li.fl(class=classExpeditii)

        a(href="/expeditii").drop Expeditii
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a.drop(href="/montblanc", title="Mont Blanc") Mont Blanc
            li.sl
                a.drop(href="/grossglockner", title="Grossglockner") Grossglockner
            li.sl
                a(href="/elbrus", title="Elbrus") Elbrus
            li.sl
                a(href="kilimanjaro", title="Kilimanjaro") Kilimanjaro
            li.sl
                a(href="/maroc", title="Jebel Toubkal") Jebel Toubkal
            li.sl
                a(href="everest-basecamp", title="Everest Base camp") Everest Base camp
            li.sl
                a(href="/everest-intoarcerea-cu-elicopter", title="Intoarcerea cu elicopterul") Intoarcerea cu elicopterul
            li.sl
                a(href="/island-peak-basecamp", title="Island Peak") Island Peak
                
            li.sl
                a(href="/k2-basecamp", title="K2 Base camp") K2 Base camp

    li.inscriere-mob.fl
        a(href="/inscriere", title="Inscriere") Inscriere

    li.fl
        a(href="/contact", title="Contact") Contact

    