extends ./index.jade

block content
	div.bgded.bgded-top(style="background-image:url('/images/apuseni-5-platou.png');")
		div.wrapper.dust-white-color
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dark-grey-color.flex-1.clear
						include components/navigation
						ul.fl.clear
							li.fl.language
								a(href="en") ro
				else
					div.mobile-nav.flex-1-5
						i.fa.fa-bars.fa-2x.upper.show-panel
						nav.sidenav.clear
							include components/navigation

				div#logo.text-center.flex-1.upspace-35
					h1.font-4
						a.cloudy-color(href="#top") 5 zile in Apuseni
					h3.cloudy-color.font-2 Flo Adventure Tours


	div.scroll-down
		div.chevron
		div.chevron
		div.chevron

	div.page-description.wrapper.dust-grey.light-grey-color
		div.container.clear(data-device="#{type}")
			div.page-box.flex-1
				h4.subtile-grey-color.font-montserrat-bold Frumusetiile zonei
				div.heading-sep.orange
				div.btmspace-50.font-open-sans.dark-grey-color(data-aos="fade-right")
					p Invața alaturi de noi despre Cluj-Napoca, un oras din inima Transilvaniei plin de istorie si cultura, despre tradiția mineritului in sare la muzeul Salinei Turda. Peisajele din rezervațiile si pesterile vizitate iti vor face zilele petrecute in Romania de neuitat.
			div.page-box.flex-1-5
				div.map(style="background-image:url('/images/harta-apuseni-5.png')")

	hr.cloudy

	div.image.dark-grey.light-grey-color
		div.hoc.clear.center.upspace-35.btmspace-30(data-device="#{type}")
			div.desc-item
				i.fa.fa-calendar.font-2
				span.item-header Perioada
				span.item-text Aprilie, 2019 - Octombrie, 2019
			div.desc-item
				i.fa.fa-male.fa-3x.font-2
				span.item-header Persoane
				span.item-text minim 3
			div.desc-item
				i.fa.fa-map-marker.fa-3x.font-2
				span.item-header Regiune
				span.item-text zona Apuseni
			div.desc-item
				i.fa.fa-car.fa-3x.font-2
				span.item-header Transport
				span.item-text masina

	div.little-about.height-500(style="background-image:url('/images/apuseni-5-platou-1.png');background-size:cover;background-position: right center;")


	//detalii si itinerariu
	div.page-description.wrapper.dust-grey.dark-grey-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")
			div.page-box.flex-1(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
				h4.font-montserrat-bold Detalii
				div.heading-sep.light-grey
				p.font-effra-regular Muntii Apuseni sunt cuprinsi intre dealurile domoale ale Depresiunii Transilvane si Campia Tisei. Acestia formeaza o veriga ce inchide spre vest arcul Carpatilor Romanesti. Ocupand o suprafata de circa 20.000 km patrati, ei apar ca o insula muntoasa. In nici o regiune din Carpatii Romaniei subsolul nu este ca un mozaic de formatiuni geologice cum este in muntii Apuseni. Golurile alpine apar de la altitudinea de 1600m in sus unde predomina gramineele, iar pe locuri mai pietroase se dezvolta tufele de ienupar, smirdar, afine si merisoare. Padurile din Muntii Apuseni adapostesc numeroase specii de animale salbatice: ursi, lupi, mistreti, rasi, cocosi de munte, veverite, caprioare, serpi chiar si vipere. Paraiele de munte sunt bogate in pastravi  care atrag multi pescari.
			div.page-box.flex-1-6
				h4.font-montserrat-bold Itinerariu
				div.heading-sep.light-grey
				p Ne tinem de program dar uneori suntem flexibili

				h5.left.upspace-15 Ziua 1
				p Sosire in Cluj-Napoca. Transfer de la aeroport in oras, ulterior pensiune. Vizitarea orasului sau timp liber la alegere.

				h5.left.upspace-15 Ziua 2
				p Urmeaza Rezervația Cheile Turzii, importante atat din punct de vedere stiințific, cat si a frumuseților salbatice. Celor aproximativ 1000 de specii floristice, vegetale, plante rare si celor 67 specii de pasari si alte animale li se adauga o mare varietate a formelor de relief carstice cu pesteri, grohotisuri, colțuri stancoase. Transport si cazare la Belioara. Posibilitate de cazare la pensiunea Salciua sau Casa Partizanilor.

				h5.left.upspace-15 Ziua 3
				p Vizitarea Pesterii Scarisoara, renumita pentru faptul ca adaposteste cel mai mare ghețar subteran din Romania. Pe langa numeroasele formațiuni din gheața care atrag privirile turistilor, pestera are si o importanța stiințifica. Urmeaza vizitarea Pesterii Ursilor unica in Romania si in Europa.  De ce este unica si ce veți putea vedea in aceasta pestera? De data aceasta va vom lasa imaginația sa lucreze si vom lasa frumusețile pesterii sa vorbeasca de la sine. Cazare la Cabana Cetațile Ponorului – Padis.

				h5.left.upspace-15 Ziua 4
				p Aceasta zi este destinata descoperirii zonei Cetațile Ponorului, remarcabila prin fenomene carstice. Pestera Cetațile Ponorului este considerata una dintre cele 7 minuni ale Romaniei. Rezervate pentru aceasta ultima zi sunt si Cascada de la Rachițele – Valul Miresei si Cetatea de la Bologa, fiecare avand farmecul ei greu de descris in cuvinte. Cazare la Cluj-Napoca.

				h5.left.upspace-15 Ziua 5
				p Tranfer cazare-aeroport.



	//grid de imagini
	div.page-description.wrapper
		div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
			div#full-grid.width-full.dark-grey(data-device="#{type}")
				a.full-grid-item.big
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-1.png'); background-size: cover; background-position: top;")
				a.full-grid-item
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-2.png'); background-size: cover; background-position:top;")

				a.full-grid-item
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-3.png'); background-size: cover; background-position: center;")
				a.full-grid-item
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-5.png'); background-size: cover; background-position: center;")
				a.full-grid-item.half
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-4.png'); background-size: cover; background-position: center;")
				a.full-grid-item.big
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-6.png'); background-size: cover; background-position: top center;")
				a.full-grid-item
					div.flex-1(style="background-image:url('/images/apuseni-5-grid-7.png'); background-size: cover; background-position: right;")
	hr.cloudy

	//extra informatii
	div.page-description.wrapper.dark-grey.cloudy-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")
			div.page-box.flex-1.font-montserrat-thin(style="padding-right: 20px;")
				h3.font-montserrat-regular Ce include
				div.heading-sep.light-grey
				p Transfer aeroport
				P Transport
				P Taxele de vizitare
				P Cazare la pensiune de 3 stele


			div.page-box.flex-1.font-montserrat-thin
				h3.font-montserrat-regular Ce nu include
				div.heading-sep.light-grey
				p Asigurare de calatorie
				p Mancare

	//rezervati locul sau contacteaza-ne
	div.little-about.height-500.cloudy(style="background-image:url('/images/price-background-1.jpg');background-size:cover;background-position: center center;")
		div.hoc.container.clear.font-1-2
			a.button Rezerva-ti locul
			a.button(href="/contact") Ai o intrebare?


	hr.cloudy
	div.price-about.height-300.wrapper.dark-grey.orange-color
		div.overlay-text.flex-1.font-3

			p.dust-white-color.font-2(style="top: 80px;") Pretul pachetului:
			i.fa.fa-euro
			p.font-1-2 350&nbsp;
			p.down /persoana


	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")

	//Logos and sponsors

	div.wrapper.coloured.orange
		div.hoc.clear
			figure#logos
				ul.nospace.group
					li
						a(href='#')
							img(src="/images/logo-tete.png")
					li
						a(href='#')
							img(src="/images/logo-free.png")
					li
						a(href='#')
							img(src="/images/logo-pro.png")
					li
						a(href='#')
							img(src="/images/logo-lowe.png")
