extends ./index.jade

block vars
	- var title='Contact - Flo Adventure Tours'
	- var description = 'Agentie de turism de aventura. Expeditii, cursuri, drumetii si ture de aventura 4x4. Alpi, Himalaya, Africa, Romania, Elbrus. Contact'


block content
	div.bgded
		div.wrapper.dark-grey
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dust-grey-color.flex-1.clear
						include components/navigation

				else
					div.mobile-nav
						i.fa.fa-bars.fa-2x.upper.show-panel.light-grey-color
						nav.sidenav.clear
							include components/navigation-mobile

				div#logo.text-center.flex-1.upspace-200
					h1.font-3
						a.dust-grey-color(href="#top") Contact
					h3.dust-grey-color.font-1-2 Flo Adventure Tours


	//mesaje
	div.page-description.wrapper.dust-white.dark-grey-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")
			h3.hide-me.orange-color(style=("#{sent}" === 'yes') ? "display: block;" : "display: none;") Mesajul tau a fost trimis.Iti vom raspunde in cel mai scurt timp posibil!
			h3.hide-me.orange-color(style=("#{bla}" === 'yes') ? "display: block;" : "display: none;") Ne pare rau, dar mesajul nu a fost trimit. Reincercati!

	//formular
	div.page-description.wrapper.dust-grey.dark-grey-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")
			div.page-box.flex-2(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")

				h3 #[a.dark-grey-color(href="tel:0040753012119", title="Telefon agentie de turism") +40 (753) 012 119]
				h3 #[a.highlight(href='mailto:officefloadventure@gmail.com', title="Mail agentie") officefloadventure @ gmail.com]
				div.heading-sep.light-grey
				p.font-open-sans Nu ezita sa ne contactezi pentru a pune la cale urmatoarea ta aventura. Vom incerca sa iti raspundem cat mai repede la mesajele tale. Daca vrei sa te inscrii pentru o anumita expeditie sau aventura, foloseste #[a.highlight(href='/inscriere', title="Inscriere") formularul de inscriere].


				form#sendContact.dark-grey-color(action="/contact",method="post")
					input(type="hidden", name="action", value="arwd_contact")

					input#firstname(type="text", name="firstname",placeholder="Nume",required)
					input#secondname(type="text", name="secondname",placeholder="Prenume")
					input#address(type="text", name="address",placeholder="E-mail", required)
					input#phone(type="text", name="phone",placeholder="Telefon", required)
					input#subject(type="text", name="subject",placeholder="Subiect / Intrebare")
					textarea#body(type="text", name="body",placeholder="Spune-ne cu ce te putem ajuta")

					button.orange trimite



			div.page-box.flex-1.upspace-40

				span.font-1-2.font-montserrat-bold Flo Adventure SRL
				span CIF 37077399

				span.font-1-2.upspace-20.font-montserrat-bold adresa
				span strada Principala, nr. 15, Casele Micesti
				span Cluj

				span.font-1-2.upspace-20.font-montserrat-bold licenta de turism
				span numarul 1331

				span.font-1-2.upspace-20.font-montserrat-bold marca inregistrata
				span Logo #[a(title="Flo Adventure Tours").highlight Flo Adventure] si
				span motto-ul #[a(title="Flo Adventure tours").highlight Sa ne vedem cat mai sus!]
				span sunt marci inregistrate la OSIMSC.


