extends ./index.jade

block vars
	- var title='Everest Base camp | Intoarcerea cu elicopterul | Flo Aventure Tours'
	- var description = 'Everest trekking. Urca si descopera valea Khumbu si cultura serpasilor pana in renumita Everest base camp alaturi de ghizii Flo Adventure. Intoarcerea cu elicopterul. Curs si drumetie.'
	- var ogtitle= title
	- var ogDescription= description
	- var ogurl = 'http://www.floadventure.ro/everest-intoarcerea-cu-elicopter'
	- var ogimage = "http://www.floadventure.ro/images/eli.png"



block content
	div.bgded.bgded-top(style="background-image:url('/images/eli.png');")
		div.wrapper.dust-white-color
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dark-grey-color.flex-1.clear
						include components/navigation

				else
					div.mobile-nav.flex-1
						i.fa.fa-bars.fa-2x.upper.show-panel
						nav.sidenav.clear
							include components/navigation-mobile

				div#logo.text-center.flex-4.upspace-35
					div.sign(data-device="#{type}", style="background-image:url('/images/logo-flo-adventure.png');")
					h3.dust-white-color.font-2 Flo Adventure Tours

					h1.font-3
						a.dust-white-color(href="#top", title="Everest Base camp") Everest Base camp
					h2.font-montserrat-regular.font-2.dust-white-color Intoarcerea cu elicopterul

	div.scroll-down
		div.chevron
		div.chevron
		div.chevron

	div.page-description.wrapper.dark-grey.light-grey-color
		div.container.clear(data-device="#{type}")

			div.page-box.flex-1(style="height: auto;")
				h4.orange-color.font-montserrat-bold Trekking si elicopter
				div.heading-sep.orange
				div.btmspace-50.font-open-sans(data-aos="fade-right")
					p.pre-text.font-open-sans Tabara de baza a Everestului este cea mai populara destinatie de aventura din Nepal Himalaya. Primii care au deschis ruta pe Everest in Mai 1953 au fost Sir Edmund Hillary si Tenzing Norgay. „Everest Base Camp Trekking” este tinta finala pentru cei care prefera trecking-ul si pentru alpinistii incepatori. Programul Everest Base Camp si Kala Patthar este genul de aventura „o data in viata”, cu provocari si realizari, cu bucuria de a fi atat de aproape de cel mai inalt munte din lume. Peisajul este superb, cu varfuri inconjurati de ghetari, manastiri antice si bineinteles fascinanta cultura si traditie a serpasilor.
					div(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button-count", data-size="small" data-mobile-iframe="true").fa.fa-2x.fa-share-alt-square.inline.orange-color
						a.orange-color.font-open-sans.share-button.fb-xfbml-parse-ignore.inline(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent(ogurl)}&amp;src=sdkpreparse", title="Share") Share


			div.page-box.flex-1-5(style="height: auto;")
				div.map(style="background-image:url('/images/harta-everestbc.png'); background-position: center;")

	div.page-description.wrapper.dark-grey.orange-color
		div.container.clear(data-device="#{type}")

			div.item-list
				div.number 5545m
				div.description altitudine varf
			div.item-list
				div.number 12 zile
				div.description durata
			div.item-list
				div.number mediu
				div.description dificultate
			div.item-list
				div.number 1400m
				div.description altitudine baza


	//detalii si itinerariu
	div.page-description.wrapper.dust-grey.subtile-grey-color.font-montserrat-light
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")
			div.page-box.flex-1(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
				h4.font-montserrat-bold Detalii
				div.heading-sep.light-grey

				p.font-effra-regular „Everest Trekking + Elicopter” este un program popular, usor de parcurs cu un „view” spectaculos de jos si din aer, care reda satele serpasilor, o mare varietate a culturii si traditiei lor, festivaluri colorate si traditionalele manastiri. Flora si fauna reprezinta un alt ornament cu care se mandreste Parcul National Sagarmatha. Povestea lui Yeti inca este un mister din regiunea Khumbu. Regiunea Everest, stabilita in 1976 cu arealul de 1248 km², este situata in partea estica a Nepalului, protejata de Parcul National Sagarmatha. Frontiera nordica este comuna cu Tibetul, inclusiv Mt. Everest, cel mai inalt varf din lume. Altitudinea este cuprinsa intre 2845 m si 8848 m( acoperisul lumii -Vf. Everest), incluzand cei mai inalti munti ai lumii: Mt. Everest, Lhotse, Nupse, Choyo, Pomori, Makalu, Ama Dablam , care iti vor rasplati prin frumusetea lor efortul depus.


			div.page-box.flex-1-6.subtile-grey-color
				h4.font-montserrat-bold Itinerariu
				div.heading-sep.light-grey
				p Ne tinem de program, dar uneori suntem flexibili, ne adaptam la conditiile meteo si la situatiile neprevazute.

				h5.left.upspace-20 Ziua 1
				p Transfer de la aeroport la hotel. Dupa cazare vom avea o sedinta tehnica.
				h5.left.upspace-20 Ziua 2
				p Vom vizita cateva obiective turistice in Kathmandu. Stupa Boudhanath impresioneaza prin marimea ei, fiind una dintre cele mai mari astfel de constructii din lume. Din 1979 este trecuta pe Lista Patrimoniului Mondial UNESCO. Orasul istoric Patan este cunoscut pentru mostenirea culturala impresionanta. Se remarca  piata Patan Durbar,  inclusa de UNESCO pe lista celor sapte „zone monument” care formeaza Zona Patrimoniului Mondial din Valea Kathmandu. Datorita sculturilor in piatra, metal si altele, aflate la exteriorul cladirilor, orasul seamana cu un muzeu in aer liber. Templul budist Swayambu face parte dintr-un complex format din stupa, o varietate de altare si temple. Adaugate acestora mai recent gasim o manastire tibetana, un muzeu si o librarie.  Swayambu este cunoscut si ca Templu Maimutelor.

				h5.left.upspace-20 Ziua 3
				p Zbor Kathmandu-Lukla (dureaza 45 minute). Aeroportul a fost construit in 1964 sub indrumarea lui Edmund Hillary. Initial s-a dorit construirea aeroportului pe terenurile mai plate ale fermierilor, insa acestia nu au vrut sa renunte la pamantul lor. Urcare pana la Phakding sau Mnajo ( 3/4 h, 2640 m). Phakding este un sat din regiunea Khumbu, Nepal, inclus de asemenea in Lista Patrimoniului Mondial UNESCO.

				h5.left.upspace-20 Ziua 4
				p Urcare de la Phakding sau Mnajo la Namche Bazar ( 3/4h, 3440m). Acest orasel este un cunoscut punct pentru expeditii pe Everest sau alte varfuri din zona. Este inconjurat de peisaje deosebite, incarcat de istorie si de ospitalitate.

				h5.left.upspace-20 Ziua 5
				p Aclimatizare la Namche Bazzar.
				h5.left.upspace-20 Ziua 6
				p Namache – Tengboche (4 / 5h) 3860m. Din acest loc se deschide o panorama a Muntilor Himalaya, cu varfuri faimoase precum: Everest, Nuptse, Lhotse, Ama Dablam.
				h5.left.upspace-20 Ziua 7
				p Tengboche – Dingboche (4 / 5h) 4350m.
				h5.left.upspace-20 Ziua 8
				p Dingboche – Labuche (4 / 5h) 4910m.
				h5.left.upspace-20 Ziua 9
				p Labuche – Goraksep (3 / 4h) 5170m. Everest Base Camp, locul in care multi viseaza sa ajunga cel putin o data in viata. Peisajul este unul impresionant, greu de descris in cuvinte.
				h5.left.upspace-20 Ziua 10
				p Goraksep – Acensiune pe Kalapathar 5545m. Se porneste dimineata devreme pentru a vedea rasaritul in zona Mt. Everest si Ghetarul Khumbu (2 / 3h) 5545m. Inapoi la Gorakshep. Zbor de intoarcere cu elicopterul la Lukla

				h5.left.upspace-20 Ziua 11
				p Lukla – Kathmandu zbor cu avionul (40 /45m) 1350m si transfer la hotel
				h5.left.upspace-20 Ziua 12
				p Intoarcere acasa


	hr.cloudy
	div.image.dark-grey.cloudy-color
		div.hoc.clear.center.upspace-35.btmspace-30(data-device="#{type}")
			div.desc-item
				i.fa.fa-calendar.font-2
				span.item-header Perioada
				span.item-text 10-22 oct
			div.desc-item
				i.fa.fa-male.fa-3x.font-2
				span.item-header Persoane
				span.item-text minim 3
			div.desc-item
				i.fa.fa-home.fa-3x.font-2
				span.item-header Cazare
				span.item-text hotel
			div.desc-item
				i.fa.fa-car.fa-3x.font-2
				span.item-header Transport
				span.item-text avion

	//grid de imagini
	div.page-description.wrapper
		div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
			div#full-grid.width-full.dark-grey(data-device="#{type}")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item.big
					div.flex-1(style="background-image:url('/images/everesteli-grid-9.png'); background-size: cover; background-position: center;")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item
					div.flex-1(style="background-image:url('/images/everesteli-grid-11.png'); background-size: cover; background-position:top;")

				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item
					div.flex-1(style="background-image:url('/images/everesteli-grid-4.png'); background-size: cover; background-position: center;")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item
					div.flex-1(style="background-image:url('/images/everesteli-grid-3.png'); background-size: cover; background-position: center;")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item.half
					div.flex-1(style="background-image:url('/images/everesteli-grid-5.png'); background-size: cover; background-position: center;")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item.big
					div.flex-1(style="background-image:url('/images/everesteli-grid-1.png'); background-size: cover; background-position: center;")
				a(title="Flo Adventure Tours - Everest elicopter").full-grid-item
					div.flex-1(style="background-image:url('/images/everesteli-grid-10.png'); background-size: cover; background-position: center;")

	hr.cloudy
	//extra informatii
	div.page-description.wrapper.dust-white.dark-grey-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")

			div.page-box.flex-1.font-montserrat-light(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
				h4.font-montserrat-regular Echipament tehnic
				div.heading-sep.light-grey
				span Sac de dormit cu temperatura de confort minim  – 10 grade celsius
				span Rucsac
				span Ochelari de soare - 100% protectie UV
				span Crema de protectie - fata si buze - factor mare de protectie
				span Bidon pentru apa
				span Trusa de prim ajutor
				span Frontala si baterii de rezerva


				h4.font-montserrat-regular Asigurare
				div.heading-sep.light-grey
				span Recomandam asigurari de calatorie si optiuni de interventie, recomandate de firmele de asigurare ce sunt in colaborare cu agentia noastra de turism. Dupa ce optezi pentru o expeditie cu noi, un consultant te va indruma pentru achizitia unei polite potrivita pentru tine.


			div.page-box.flex-1.font-montserrat-light

				h4.font-montserrat-regular Imbracaminte si incaltaminte
				div.heading-sep.light-grey
				span Bluza termala cu maneca lunga si pantaloni
				span Pantaloni usori pentru drumetie
				span Suprapantaloni
				span Bete de trekking (optionali)
				span O haina din Gore-tex
				span Polar sau softshell
				span Pufoaica
				span Pelerina
				span 2 perechi de manusi
				span Caciula
				span Masca de fata (cagula) pentru vant
				span 4-5 perechi de sosete
				span Bocanci pentru ascensiune si ncaltaminte usoara pentru vizitele scurte (sandale, pantofi sport)

	div.little-about.height-600(style="background-image:url('/images/everestbc-grid-7.png');background-size:cover;background-position: right center;")

		//extra informatii
	div.page-description.wrapper.dark-grey.cloudy-color
		div.container.clear(data-device="#{type}", style="align-items: flex-start;")


			div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
				h4.font-montserrat-regular Ce include?
				div.heading-sep.light-grey
				span Transfer de la aeroport la hotel si inapoi, sedinta tehnica cu ceai si biscuiti in Kathmandu.
				span Cazare cu mic dejun inclus la hotel de 3 stele in Kathmandu.
				span Cazare pe toata durata ascensiunii.
				span Taxele necesare intrarilor in parc si TIM card.
				span Asigurare completa  pentru staff-ul Nepalez in timpul ascensiunii.
				span Mese complete pe durata ascensiunii: mic dejun, pranz si cina.
				span Bauturi calde pe durata ascensiunii: (ceai, cafea etc).
				span Transport pana la  punctul de start si finish al ascensiunii.
				span Zborul intern KTM – LUKLA – KTM si taxele de aeroport.
				span Zborul cu elicopterul Everest BC - Lukla.
				span Trusa de prim ajutor pentru staff.
				span Ghid atestat si porteri.
				span Un bagaj pana la 15 kg care il va duce porterul.
				span Hartile necesare.

			div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
				h4.font-montserrat-regular Ce nu include?
				div.heading-sep.light-grey
				span Biletul de avion pana in Kathmandu.
				span Pranz si cina in Kathmandu.
				span Bauturi ca: bere, whisky, rom, apa minerala etc.
				span Taxele de intrare din timpul vizitelor in Kathmandu si celelalte zone turistice
				span Costuri suplimentare aparute datorita conditiilor nefavorabile, ca de exemplu vremea rea.
				span Cheltuieli personale pentru: apa calda sau incarcarea bateriilor( telefon, laptop etc)
				span Echipament personal
				span Evacuare de urgenta, daca este necesar, spitalizare etc..
				span Bacsisul pentru porteri si ghizii locali
				span Taxa de viza 40 dolari.
				span Copie pasaport si asigurare medicala
				span O poza tip pasaport

	div.little-about.narrow.cloudy.height-400(style="background-image:url('/images/price-background-eli.jpg');background-size:cover;background-position: center center;")
		div.hoc.container.clear

			a.button.orange(href="/contact", title="Contact") Contact
			a.button.dark-grey(href="/inscriere/everesteli", title="Inscriere") Rezerva-ti locul

	hr.cloudy
	div.price-about.height-300.wrapper.dark-grey.light-grey-color
		p.font-2.dust-white-color(style="top: 80px") Pretul pachetului:
		div.overlay-text.flex-1.font-3.orange-color
			i.fa.fa-euro
			p 1850
			p.down /persoana

	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")
