extends ./index.jade

block vars
    - var title='Flo Adventure Tours | Agentie de turism de aventura'
    - var description = 'Flo Adventure Tours ofera expeditii montane, cursuri de alpinism si escalada, ture de aventura 4x4. Vino cu noi in Alpi, Himalaya, Africa, Romania, Elbrus.'
    - var ogtitle= title
    - var ogDescription= description
    - var ogurl = 'http://www.floadventure.ro/'
    - var ogimage = "http://www.floadventure.ro/images/kkkjf765ghfyd654.png"

block content

    div.bgded.bgded-top
        video(autoplay="", loop="", muted="", data-device="#{type}")
            source(src="/images/GH0137751.MP4" type="video/mp4")
        div.wrapper.dust-white-color
            header#header.clear

                if device.desktop || device.tablet
                    div.main-nav.downspace-40.dust-white-color.flex-1.clear
                        include components/navigation
                        ul.fl.clear
                            li.fl.language

                                if (lang === 'en')
                                    a(href="/en") en
                                    ul.sl
                                        li.sl
                                            a(href="/ro") ro
                                else
                                    a(href="/ro") ro
                                    ul.sl
                                        li.sl
                                            a(href="/en") en

                if device.mobile
                    div.mobile-nav.flex-1
                        i.fa.fa-bars.fa-2x.upper.show-panel.dust-white-color
                        nav.sidenav.clear
                            include components/navigation-mobile
                        ul.fl.clear.lang
                            li.fl.language

                                if (lang === 'en')
                                    a en
                                    ul.sl
                                        li.sl
                                            a(href="/ro") ro
                                else
                                    a ro
                                    ul.sl
                                        li.sl
                                            a(href="/en") en

                div#logo.text-center.flex-2
                    div.sign(data-device="#{type}", style="background-image:url('/images/logo-flo-adventure.png');")
                    if device.desktop
                        h1.font-4
                            a.orange-color(href="#top", title="Flo Adventure Tours") Flo Adventure Tours
                        h3.dust-white-color.font-2 Sa ne vedem cat mai sus!

                    else
                        h1.font-3-5
                            a.orange-color(href="#top", title="Flo Adventure Tours") Flo Adventure Tours
                        h3.dust-white-color.font-1-5 Sa ne vedem cat mai sus!

    div.scroll-down
        div.chevron
        div.chevron
        div.chevron

    if device.desktop
        div.little-about.dark-grey-normal.height-300
            div.clear.upspace-90
                h2.center.title.dust-white-color.font-montserrat-bold.font-1-5 #{i18n.__("descriere.misiune")}
                div.center.font-montserrat-light.font-1-2.dust-white-color.upspace-20.max-width-40 #{i18n.__("descriere.misiune2")}

    if device.mobile
        div.little-about.dark-grey-normal.height-400
            div.clear.upspace-90.padding-left-right-10
                h3.center.dust-white-color.font-montserrat-bold.font-1-5 #{i18n.__("descriere.misiune")}
                div.center.font-montserrat-thin.dust-white-color.upspace-20 #{i18n.__("descriere.misiune2")}

    div.page-description.wrapper
        div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
            div#full-grid.width-full.dark-grey-normal(data-device="#{type}", style=("#{type}" === 'phone') ? "height: auto" : "height: 704px;")
                a(href="/expeditii", title="Flo Adventure Tours - expeditii").full-grid-item.big
                    div.flex-1(style="background-image:url('/images/kkkjf765ghfyd654.png'); background-size: cover;")
                    div.ribbon(style="background-image:url('/images/logo-expeditii.png');")
                    div.subtitle.font-1-5 #{i18n.__("grid.expeditii")}
                a(href="/apuseni-5-zile", title="Flo Adventure Tours - Romania").full-grid-item
                    div.flex-1(style="background-image:url('/images/2342asdfa3.png'); background-size: cover; background-position:top;")
                    div.ribbon(style="background-image:url('/images/logo-drumetii.png');")
                    div.subtitle.font-1-5 #{i18n.__("grid.drumetii")}
                a(href="http://www.extremromania.ro", title="Cursuri").full-grid-item
                    div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover;")
                    div.ribbon(style="background-image:url('/images/logo-cursuri.png');")
                    div.subtitle.font-1-5 #{i18n.__("grid.cursuri")}
                a(href="/romania", title="Flo Adventure Tours - Romania").full-grid-item
                    div.flex-1(style="background-image:url('/images/hhghhg.png'); background-size: cover; background-position: center;")
                    div.ribbon(style="background-image:url('/images/logo-cultura.png');")
                    div.subtitle.font-1-5 #{i18n.__("grid.cultura")}
                a(href="/4x4-5-zile", title="Flo Adventure Tours - aventura").full-grid-item.half
                    div.flex-1(style="background-image:url('/images/hhghhga.png'); background-size: cover; background-position: bottom;")
                    div.ribbon(style="background-image:url('/images/logo-aventura.png');")
                    div.subtitle.font-1-5 #{i18n.__("grid.aventura")}

    //Overlay wrapper
    div.page-description.wrapper.dust-grey.light-grey-color(data-device="#{type}")
        div.container.clear.upspace-90(data-device="#{type}")
            div.page-box.flex-1-2
                p.pretitle.font-montserrat-regular #{i18n.__("descriere.lume")}
                h4.subtile-grey-color.font-montserrat-bold Flo Adventure Tours
                div.heading-sep.orange
                div.btmspace-50.font-open-sans.dark-grey-color
                    p #{i18n.__("descriere.agentie")}
                    p #{i18n.__("descriere.agentie2")}
                    div(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button-count", data-size="small" data-mobile-iframe="true").fa.fa-2x.fa-share-alt-square.inline.dark-grey-color
                        a.dark-grey-color.font-open-sans.share-button.fb-xfbml-parse-ignore.inline(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent(ogurl)}&amp;src=sdkpreparse", title="Share") Share
            div.page-box.flex-1-5
                div.map(style="background-image:url('/images/icons-comp.png')")



    hr.light-grey

    if device.desktop
        //Destinatiile noastre
        div.little-about.height-auto.dust-grey
            div.clear.center
                h2.title.font-montserrat-bold.dark-grey-color.center.upspace-90 #{i18n.__("descriere.destinatii")}
                //i.fa.fa-minus.font-1-2.light-grey-color.upspace-35
                div.heading-sep-middle.light-grey.center

                p.max-width-70.center.dark-grey-color.font-open-sans.font-1.upspace-35 #{i18n.__("descriere.destinatii2")} #[a(title="Flo Adventure Tours").highlight Apuseni], #[a(href="/montblanc", title="Montblanc").highlight Montblanc], #[a(href="/elbrus", title="Elbrus").highlight Elbrus], #{i18n.__("descriere.destinatii3")}  #[a(href="/maroc", title="Sahara").highlight Sahara], #[a(href="/grossglockner", title="Grossglockner").highlight Grossglockner] #{i18n.__("descriere.destinatii4")} #[a(href="/everest-basecamp", title="Everest").highlight Everest].#{i18n.__("descriere.destinatii5")} #[a(href="/maroc", title="Jebel Toubkal").highlight Jebel Toubkal] #{i18n.__("descriere.destinatii6")} #[a(href="/kilimanjaro", title="Kilimanjaro").highlight Kilimanjaro]. #{i18n.__("descriere.destinatii8")} #[a(href="/k2-basecamp", title="K2").highlight K2], #{i18n.__("descriere.destinatii7")}
                img.upspace-40(src="/images/harta.png", style="width: 100%;", alt="Harta destinatii Flo Adventure Tours - agentie de turism de aventura")

    if device.mobile
        div.little-about.height-full.dust-grey
            div.hoc.container.clear.center
                h2.title.font-montserrat-bold.dark-grey-color.center #{i18n.__("descriere.destinatii")}
                div.heading-sep-middle.light-grey.center
                span.center.upspace-35.font-open-sans.dark-grey-color #{i18n.__("descriere.destinatii2")} #[a(title="Flo Adventure Tours").highlight Apuseni], #[a(href="/montblanc", title="Montblanc").highlight Montblanc], #[a(href="/elbrus", title="Elbrus").highlight Elbrus], #{i18n.__("descriere.destinatii3")}  #[a(href="/maroc", title="Sahara").highlight Sahara], #[a(href="/grossglockner", title="Grossglockner").highlight Grossglockner] #{i18n.__("descriere.destinatii4")} #[a(href="/everest-basecamp", title="Everest").highlight Everest].#{i18n.__("descriere.destinatii5")} #[a(href="/maroc", title="Jebel Toubkal").highlight Jebel Toubkal] #{i18n.__("descriere.destinatii6")} #[a(href="/kilimanjaro", title="Kilimanjaro").highlight Kilimanjaro]. Daca vrei sa vezi renumitul #[a(href="/k2-basecamp", title="K2").highlight K2], #{i18n.__("descriere.destinatii7")}

    div.little-about.narrow.dark-grey-normal.height-400
        div.hoc.container.clear
            h2.title.font-montserrat-bold.dust-white-color.center #{i18n.__("descriere.indrazneste")}
            div.heading-sep-middle.dust-white.center
            span.center.font-open-sans.cloudy-color #{i18n.__("descriere.alege")}
            a.button.dark-grey(href="/inscriere", title="Inscriere") #{i18n.__("descriere.rezerva")}

    div.little-about.narrow.height-400(style="background-image:url('/images/price-background-elbrus-comp.jpg');background-size:cover;background-position: center center;")

    div.repeat-ribbon.wrapper.coloured
        div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")

