extends ./index.jade

block vars
    - var title='Flo Adventure Tours | Agentie de turism de aventura'
    - var description = 'Flo Adventure Tours ofera expeditii montane, cursuri de alpinism si escalada, drumetii si ture de aventura 4x4. Vino cu noi in Alpi, Himalaya, Africa, Romania, Elbrus.'
    - var ogtitle= title
    - var ogurl = 'http://www.floadventure.ro'
    - var ogimage = "http://www.floadventure.ro/images/kkkjf765ghfyd654.png"


block content

    div.bgded.bgded-top
        video(autoplay="", loop="", muted="", data-device="#{type}")
            source(src="/images/GH0137751.MP4" type="video/mp4")
        div.wrapper.dust-white-color
            header#header.clear

                if device.desktop || device.tablet
                    div.main-nav.downspace-40.dust-white-color.flex-1.clear
                        include components/navigation
                        //ul.fl.clear
                        //    li.fl.language
                        //        a(href="en") ro
                        //        ul.sl
                        //            li.sl
                        //                a(href="en") en
                        //            li.sl
                        //                a(href="ru") ru

                if device.mobile
                    div.mobile-nav.flex-1
                        i.fa.fa-bars.fa-2x.upper.show-panel.dust-white-color
                        nav.sidenav.clear
                            include components/navigation-mobile

                div#logo.text-center.flex-2
                    if device.desktop
                        h1.font-4
                            a.orange-color(href="#top", title="Flo Adventure Tours") Flo Adventure Tours
                        h3.dust-white-color.font-2 Sa ne vedem cat mai sus!

                    else
                        h1.font-3-5
                            a.orange-color(href="#top", title="Flo Adventure Tours") Flo Adventure Tours
                        h3.dust-white-color.font-1-5 Sa ne vedem cat mai sus!

    div.scroll-down
        div.chevron
        div.chevron
        div.chevron


    if device.desktop
        div.little-about.dark-grey-normal.height-300
            div.clear.upspace-90
                h2.center.title.dust-white-color.font-montserrat-bold.font-1-5 Misiunea noastra - Aventura
                div.center.font-montserrat-light.font-1-2.dust-white-color.upspace-20.max-width-40 Credem ca orice loc din lumea asta se poate descoperi cu aventura in suflet si spirit de calator.

    if device.mobile
        div.little-about.dark-grey-normal.height-400
            div.clear.upspace-90.padding-left-right-10
                h3.center.dust-white-color.font-montserrat-bold.font-1-5 Misiunea noastra Aventura
                div.center.font-montserrat-thin.dust-white-color.upspace-20 Credem ca orice loc din lumea asta se poate descoperi cu aventura in suflet si spirit de calator.

    div.page-description.wrapper
        div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
            div#full-grid.width-full.dark-grey-normal(data-device="#{type}", style=("#{type}" === 'phone') ? "height: auto" : "height: 704px;")
                a(title="Flo Adventure Tours - expeditii").full-grid-item.big
                    div.flex-1(style="background-image:url('/images/kkkjf765ghfyd654.png'); background-size: cover;")
                    div.ribbon(style="background-image:url('/images/logo-expeditii.png');")
                    div.subtitle.font-1-5 Expeditii
                a(title="Flo Adventure Tours - drumetii").full-grid-item
                    div.flex-1(style="background-image:url('/images/2342asdfa3.png'); background-size: cover; background-position:top;")
                    div.ribbon(style="background-image:url('/images/logo-drumetii.png');")
                    div.subtitle.font-1-5 Drumetii
                a(href="http://www.extremromania.ro", title="Cursuri").full-grid-item
                    div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover;")
                    div.ribbon(style="background-image:url('/images/logo-cursuri.png');")
                    div.subtitle.font-1-5 Cursuri
                a(title="Flo Adventure Tours - cultura").full-grid-item
                    div.flex-1(style="background-image:url('/images/hhghhg.png'); background-size: cover; background-position: center;")
                    div.ribbon(style="background-image:url('/images/logo-cultura.png');")
                    div.subtitle.font-1-5 Cultura
                a(title="Flo Adventure Tours - aventura").full-grid-item.half
                    div.flex-1(style="background-image:url('/images/hhghhga.png'); background-size: cover; background-position: center;")
                    div.ribbon(style="background-image:url('/images/logo-aventura.png');")
                    div.subtitle.font-1-5 Aventura

    //Overlay wrapper
    div.page-description.wrapper.dust-grey.light-grey-color(data-device="#{type}")
        div.container.clear.upspace-90(data-device="#{type}")
            div.page-box.flex-1-2
                p.pretitle.font-montserrat-regular O lume a aventurii
                h4.subtile-grey-color.font-montserrat-bold Flo Adventure Tours
                div.heading-sep.orange
                div.btmspace-50.font-open-sans.dark-grey-color
                    p Bun venit in lumea noastra. Uita ceea ce stiai pana acum despre turismul de aventura. Inca nu ne cunosti? Suntem echipa Flo Adventure Tours si suntem cei ce vor transforma urmatoarea ta aventura in amintiri ce vor dura o viata intreaga.
                    p Din 1995, am acumulat experienta in turismul de aventura si am pregatit prin scolile noastre mii de cursanti carora le-am inspirat dragostea de munte si aventura. Ne caracterizeaza pasiunea pentru ceea ce facem, profesionalismul si adaptarea usoara in functie de nevoile clientilor nostri. Ne recomanda experienta vasta, calificarea personalului si a colaboratorilor nostri. Planifica cu noi urmatoarea ta aventura. Suntem aici pentru tine.
            div.page-box.flex-1-5
                div.map(style="background-image:url('/images/icons.png')")



    hr.light-grey

    if device.desktop
        //Destinatiile noastre
        div.little-about.height-auto.dust-grey
            div.clear.center
                h2.title.font-montserrat-bold.dark-grey-color.center.upspace-90 Destinatiile noastre
                //i.fa.fa-minus.font-1-2.light-grey-color.upspace-35
                div.heading-sep-middle.light-grey.center

                p.max-width-70.center.dark-grey-color.font-open-sans.font-1.upspace-35 Alege una dintre variatele noastre optiuni Flo Adventure Tours pentru vacanta ta, indiferent de natura acesteia. Alege intre #[a.highlight muntii Apuseni], #[a.highlight Montblanc], #[a.highlight Elbrus], minunata #[a.highlight Sahara], #[a.highlight Grossglockner] sau chiar cel mai inalt varf de pe Terra, #[a.highlight Everest]. Avem si povesti minunate de relatat de pe #[a.highlight Jebel Toubkal] si #[a.highlight Kilimanjaro]. Daca vrei sa vezi renumitul #[a.highlight K2], te asteptam alaturi de noi.

                img.upspace-40(src="/images/harta.png", style="width: 100%;", alt="Harta destinatii Flo Adventure Tours - agentie de turism de aventura")

    if device.mobile
        div.little-about.height-full.dust-grey
            div.hoc.container.clear.center
                h2.title.font-montserrat-bold.dark-grey-color.center Destinatiile noastre
                div.heading-sep-middle.light-grey.center
                span.center.upspace-35.font-open-sans.dark-grey-color Alege una dintre variatele noastre optiuni Flo Adventure Tours pentru vacanta ta, indiferent de natura acesteia. Alege intre #[a.highlight muntii Apuseni], #[a.highlight Montblanc], #[a.highlight Elbrus], minunata #[a.highlight Sahara], #[a.highlight Grossglockner] sau chiar cel mai inalt varf de pe Terra, #[a.highlight Everest]. Avem si povesti minunate de relatat de pe #[a.highlight Jebel Toubkal] si #[a.highlight Kilimanjaro]. Daca vrei sa vezi renumitul #[a.highlight K2], te asteptam alaturi de noi.


    div.little-about.narrow.dark-grey-normal.height-400
        div.hoc.container.clear
            h2.title.font-montserrat-bold.dust-white-color.center Indrazneste
            div.heading-sep-middle.dust-white.center
            span.center.font-open-sans.cloudy-color Alege-ti urmatoarea aventura impreuna cu noi.
            a.button.dark-grey(href="/inscriere", title="Inscriere") Rezerva-ti locul


    div.little-about.narrow.height-400(style="background-image:url('/images/price-background-elbrus.jpg');background-size:cover;background-position: center center;")

    div.repeat-ribbon.wrapper.coloured
        div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")
