doctype html
html
    block vars
    head
        title #{title}
        meta(name='description', content='#{description}')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        <!-- Schema.org markup for Google+ -->
        meta(itemprop="name", content="#{ogtitle}")
        meta(itemprop="description", content="#{ogDescription}")
        meta(itemprop="image", content="#{ogimage}")
        meta(name="application-name", content="Flo Adventure Tours")

        <!-- Open Graph data -->
        meta(property="og:title", content="#{ogtitle}")
        meta(property="og:description", content="#{ogDescription}")
        meta(property="og:type", content="website")
        meta(property="og:url", content="#{ogurl}")
        meta(property="og:image", content="#{ogimage}")
        meta(property="og:site_name", content="http://www.floadventure.ro/")

        <!-- Twitter Card data -->
        meta(property="twitter:title", content="#{ogtitle}")
        meta(property="twitter:description", content="#{ogDescription}")
        meta(property="twitter:image", content="#{ogimage}")
        meta(property="twitter:card", content="summary_large_image")
        meta(property="twitter:site", content="http://www.floadventure.ro/")

        meta(name="twitter:title", content="#{ogtitle}")
        meta(name="twitter:description", content="#{ogDescription}")
        meta(name="twitter:image", content="#{ogimage}")
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="http://www.floadventure.ro/")

        link(href="/styles/bootstrap.min.css" rel="stylesheet")
        //link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        //link(href="/styles/slick.css" rel="stylesheet")
        link(href="/styles/main.css" rel="stylesheet" type="text/css" media="all")



    body#top.dark-grey-normal(data-device="#{type}")
        script(type='text/javascript').
             var title = !{JSON.stringify(i18n.__("cookie.title"))};
             var description = !{JSON.stringify(i18n.__("cookie.description"))};
             var morelink = !{JSON.stringify(i18n.__("cookie.morelink"))};
             var preference = !{JSON.stringify(i18n.__("cookie.preferinte"))};
             var necesar = !{JSON.stringify(i18n.__("cookie.necesar"))};
             var analytics = !{JSON.stringify(i18n.__("cookie.analytics"))};
             var marketing = !{JSON.stringify(i18n.__("cookie.marketing"))};
             var select = !{JSON.stringify(i18n.__("cookie.select"))};
             var explanation = !{JSON.stringify(i18n.__("cookie.explanation"))};

        //div#loader-wrapper
            //div#loader
            //    img(src="/images/example.gif", alt="animated")

            div.loader-section.section-left
            div.loader-section.section-right

        div#content
            block content

            include components/footer.jade
            include components/scripts.jade
