doctype html
html
    block vars
    head
        title #{title}
        meta(name='description', content='#{description}')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        <!-- Schema.org markup for Google+ -->
        meta(itemprop="name", content="#{ogtitle}")
        meta(itemprop="description", content="#{ogDescription}")
        meta(itemprop="image", content="#{ogimage}")
        meta(name="application-name", content="Flo Adventure Tours")

        <!-- Open Graph data -->
        meta(property="og:title", content="#{ogtitle}")
        meta(property="og:description", content="#{ogDescription}")
        meta(property="og:type", content="website")
        meta(property="og:url", content="#{ogurl}")
        meta(property="og:image", content="#{ogimage}")
        meta(property="og:site_name", content="http://www.floadventure.ro/")

        <!-- Twitter Card data -->
        meta(property="twitter:title", content="#{ogtitle}")
        meta(property="twitter:description", content="#{ogDescription}")
        meta(property="twitter:image", content="#{ogimage}")
        meta(property="twitter:card", content="summary_large_image")
        meta(property="twitter:site", content="http://www.floadventure.ro/")

        meta(name="twitter:title", content="#{ogtitle}")
        meta(name="twitter:description", content="#{ogDescription}")
        meta(name="twitter:image", content="#{ogimage}")
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="http://www.floadventure.ro/")

        link(href="/styles/bootstrap.min.css" rel="stylesheet")
        //link(href="/styles/slick.css" rel="stylesheet")
        link(href="/styles/main.css" rel="stylesheet" type="text/css" media="all")



    body#top.dark-grey-normal(data-device="#{type}")

        //div#loader-wrapper
            //div#loader
            //    img(src="/images/example.gif", alt="animated")

            div.loader-section.section-left
            div.loader-section.section-right

        div#content
            block content

            include components/footer.jade
            include components/scripts.jade