extends ./index.jade

block vars
	- var title='Inscriere - Flo Aventure Tours'
	- var description = 'Inscriere expeditii si drumetii. Grossglockner, Mont blanc, Elbrus, Maroc, Jebel Toubkhal, Kilimanjaro, Everest base camp, Intoarcerea cu elicopterul, Island Peak, Apuseni, aventuri 4x4.'
	- var ogtitle= title
	- var ogDescription= description
	- var ogurl = 'http://www.floadventure.ro/inscriere'
	case name
		when 'patru3'
			- ogimage = "http://www.floadventure.ro/images/patrol.png"
		when 'patru5'
			- ogimage = "http://www.floadventure.ro/images/aventura-5.png"
		when 'apuseni3'
			- ogimage = "http://www.floadventure.ro/images/apuseni-3-platou.png"
		when 'apuseni5'
			- ogimage = "http://www.floadventure.ro/images/apuseni-5-platou.png"
		when 'montblanc'
			- ogimage = "http://www.floadventure.ro/images/montblanc.png"
		when 'grossglockner'
			- ogimage = "http://www.floadventure.ro/images/grossglockner.png"
		when 'elbrus'
			- ogimage = "http://www.floadventure.ro/images/elbrus.png"
		when 'maroc'
			- ogimage = "http://www.floadventure.ro/images/maroc.png"
		when 'everestbc'
			- ogimage = "http://www.floadventure.ro/images/everestbc.png"
		when 'everesteli'
			- ogimage = "http://www.floadventure.ro/images/eli.png"
		when 'island'
			- ogimage = "http://www.floadventure.ro/images/island.png"
		when 'family'
			- ogimage = "http://www.floadventure.ro/images/family-suvival-price.jpg"
		default
			- ogimage = "http://www.floadventure.ro/images/everestbc.png"

block content

	case name
		when 'patru3'
			- image = "background-image:url('/images/patrol.png'); "
		when 'patru5'
			- image = "background-image:url('/images/aventura-5.png'); "
		when 'apuseni3'
			- image = "background-image:url('/images/apuseni-3-platou.png');"
		when 'apuseni5'
			- image = "background-image:url('/images/apuseni-5-platou.png');"
		when 'montblanc'
			- image = "background-image:url('/images/montblanc.png');"
		when 'grossglockner'
			- image = "background-image:url('/images/grossglockner.png');"
		when 'elbrus'
			- image = "background-image:url('/images/elbrus.png');"
		when 'maroc'
			- image = "background-image:url('/images/maroc.png');"
		when 'everestbc'
			- image = "background-image:url('/images/everestbc.png');"
		when 'everesteli'
			- image = "background-image:url('/images/eli.png');"
		when 'island'
			- image = "background-image:url('/images/island.png');"
		when 'family'
			- image = "background-image:url('/images/family-suvival-price.jpg');"
		default
			- image = ""

	div.bgded(style=("#{type}" === 'phone') ? "height: 70vh" : "height: 60vh;")
		div.curtain(style=image)
		div.wrapper
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dust-white-color.flex-1.clear
						include components/navigation

				else
					div.mobile-nav
						i.fa.fa-bars.fa-2x.upper.show-panel.dust-white-color
						nav.sidenav.clear
							include components/navigation-mobile

				div#logo.text-center.flex-1.upspace-200

					h3.dust-grey-color.font-1-2 Flo Adventure Tours
					h1.font-3
						a.dust-grey-color(href="#top", title="Inscriere") Inscriere
					case name
						when 'patru3'
							h3.dust-grey-color.font-2 4x4 in 3 zile
						when 'patru5'
							h3.dust-grey-color.font-2 4x4 in 5 zile
						when 'apuseni3'
							h3.dust-grey-color.font-2 Apuseni in 3 zile
						when 'apuseni5'
							h3.dust-grey-color.font-2 Apuseni in 5 zile
						when 'montblanc'
							h3.dust-grey-color.font-2 Mont Blanc
						when 'grossglockner'
							h3.dust-grey-color.font-2 Grossglockner
						when 'elbrus'
							h3.dust-grey-color.font-2 Elbrus
						when 'maroc'
							h3.dust-grey-color.font-2 Jebel Toubkal
						when 'everestbc'
							h3.dust-grey-color.font-2 Everest Base camp
						when 'everesteli'
							h3.dust-grey-color.font-2 Everest Base camp si intoarcerea cu elicopterul
						when 'island'
							h3.dust-grey-color.font-2 Island Peak
						when 'family'
							h3.dust-grey-color.font-2 Family Survival
						default
							h3



	#{name}
	//mesaje
	if (name !== undefined)
		div.page-description.wrapper.dust-white.dark-grey-color
			div.container.clear(data-device="#{type}", style="align-items: flex-start;")
				h3.hide-me.orange-color(style=("#{sent}" === 'yes') ? "display: block;" : "display: none;") Mesajul tau a fost trimis. Iti vom raspunde in cel mai scurt timp posibil!
				h3.hide-me.orange-color(style=("#{bla}" === 'yes') ? "display: block;" : "display: none;") Ne pare rau, dar mesajul nu a fost trimit. Reincercati!

	//formular 4 x 4 in 3 zile
	if (name == 'patru3' || name == 'patru5')
		div.page-description.wrapper.dust-grey.dark-grey-color
			div.container.clear(data-device="#{type}", style="align-items: flex-start;")
				div.page-box.flex-2

					h3 #[a.dark-grey-color(href="tel:0040753012119", title="Telefon") +40 (753) 012 119]
					h3 #[a.highlight(href='mailto:officefloadventure@gmail.com', title="e-mail") officefloadventure @ gmail.com]
					div.heading-sep.light-grey

					p.font-open-sans Dupa completarea acestui formular vei fi contactat pentru confirmare si pentru plata avansului, care ti-l vom comunica in urma confirmarii. Pentru intrebari si nelamuriri, te rugam sa folosesti #[a.highlight(href="/contact", title="Flo Adventure Tours") pagina de contact].

					form.dark-grey-color(action="/inscriere/#{name}", method="post")
						if (name == 'patru3')
							input(type="hidden", name="formular", value="Pentru 4x4 in 3 zile")
						if (name == 'patru5')
							input(type="hidden", name="formular", value="Pentru 4x4 in 5 zile")


						input(type="text", name="firstname", placeholder="Nume",required)
						input(type="text", name="secondname", placeholder="Prenume")
						input(type="text", name="email", placeholder="E-mail", required)
						input(type="text", name="phone", placeholder="Telefon", required)
						input.btmspace-80(type="text", name="p_address", placeholder="Adresa completa", required)

						p.font-open-sans Te rugam sa completezi formularul cat mai complet posibil. Este foarte important sa stim ce echipament detii si care este starea ta de sanatate pentru a te bucura din plin de expeditia aleasa.

						input(type="text", name="age", placeholder="Varsta")
						input.btmspace-30(type="text", name="occupation", placeholder="Ocupatia")

						p.font-open-sans Inscriere pentru:
						div.group(data-device="#{type}").max-width-40
							span.font-open-sans
								input#casca.checkbox(type='checkbox', name='seria1', value= 'da')
								label(for='seria1') Seria 1
							span.font-open-sans
								input#piolet.checkbox(type='checkbox', name='seria2', value= 'da')
								label(for='seria2') Seria 2

						input(type="text", name="car", placeholder="Detii o masina si vrei sa vii cu ea? Daca da, spune-ne ce model e.", required)

						textarea(type="text", name="experience", placeholder="Experiente anterioare in 4x4? ")
						textarea(type="text", name="tent", placeholder="Detii un cort?")
						textarea(type="text", name="family", placeholder="Vii cu familia? Sunteti insotiti de un copil cu varsta maxima de 15 ani?")



						button.orange trimite



	if(name == 'apuseni3' || name == 'apuseni5')
		div.page-description.wrapper.dust-grey.dark-grey-color
			div.container.clear(data-device="#{type}", style="align-items: flex-start;")
				div.page-box.flex-2

					h3 #[a.dark-grey-color(href="tel:0040753012119", title="Telefon agentie") +40 (753) 012 119]
					h3 #[a.highlight(href='mailto:officefloadventure@gmail.com',title='Mail agentie') officefloadventure @ gmail.com]
					div.heading-sep.light-grey

					p.font-open-sans Dupa completarea acestui formular vei fi contactat pentru confirmare si pentru plata avansului, pe care ti-l vom comunica in urma confirmarii. Pentru intrebari si nelamuriri, te rugam sa folosesti #[a.highlight(href="/contact", title="Contact") pagina de contact].

					form.dark-grey-color(action="/inscriere/#{name}", method="post")
						if (name == 'apuseni3')
							input(type="hidden", name="formular", value="Pentru Apuseni in 3 zile")
						if (name == 'apuseni5')
							input(type="hidden", name="formular", value="Pentru Apuseni in 5 zile")


						input(type="text", name="firstname", placeholder="Nume",required)
						input(type="text", name="secondname", placeholder="Prenume")
						input(type="text", name="email", placeholder="E-mail", required)
						input(type="text", name="phone", placeholder="Telefon", required)
						input.btmspace-80(type="text", name="p_address", placeholder="Adresa completa", required)

						p.font-open-sans Te rugam sa completezi formularul cat mai exact posibil. Este foarte important sa stim ce echipament detii si care este starea ta de sanatate pentru a te bucura din plin de expeditia aleasa.

						input(type="text", name="age", placeholder="Varsta")
						input(type="text", name="occupation", placeholder="Ocupatia")
						textarea(type="text", name="health", placeholder="Probleme de sanatate relevante.")

						textarea(type="text", name="tent", placeholder="Detii un cort sau preferi cabanuta cu priciuri?")


						button.orange trimite

	if (name == 'family')
		div.page-description.wrapper.dust-grey.dark-grey-color
			div.container.clear(data-device="#{type}", style="align-items: flex-start;")
				div.page-box.flex-2

					h3 #[a.dark-grey-color(href="tel:0040753012119", title="Telefon agentie") +40 (753) 012 119]
					h3 #[a.highlight(href='mailto:officefloadventure@gmail.com',title='Mail agentie') officefloadventure @ gmail.com]
					div.heading-sep.light-grey

					p.font-open-sans Dupa completarea acestui formular vei fi contactat pentru confirmare si pentru plata avansului, pe care ti-l vom comunica in urma confirmarii. Pentru intrebari si nelamuriri, te rugam sa folosesti #[a.highlight(href="/contact", title="Contact") pagina de contact].

					form.dark-grey-color(action="/inscriere/#{name}", method="post")
						input(type="hidden", name="formular", value="Pentru Family Survival")

						input(type="text", name="firstname", placeholder="Nume",required)
						input(type="text", name="secondname", placeholder="Prenume")
						input(type="text", name="email", placeholder="E-mail", required)
						input(type="text", name="phone", placeholder="Telefon", required)
						input.btmspace-80(type="text", name="p_address", placeholder="Adresa completa", required)

						p.font-open-sans Te rugam sa completezi formularul cat mai exact posibil. Este foarte important sa stim numarul de copii participanti la curs.

						input(type="text", name="age", placeholder="Varsta fiecarui copil, separata prin virgula")
						input(type="text", name="copii", placeholder="Numele fiecarui copil, separat prin virgula")

						button.orange trimite

	if (name == 'montblanc' || name == "grossglockner" | name == "elbrus" || name == "maroc" || name == "everestbc" || name == "everesteli"  || name == "island")
		div.page-description.wrapper.dust-grey.dark-grey-color
			div.container.clear(data-device="#{type}", style="align-items: flex-start;")
				div.page-box.flex-2

					h3 #[a.dark-grey-color(href="tel:0040753012119", title="Telefon agentie") +40 (753) 012 119]
					h3 #[a.highlight(href='mailto:officefloadventure@gmail.com', title="Mail agentie") officefloadventure @ gmail.com]
					div.heading-sep.light-grey

					p.font-open-sans Dupa completarea acestui formular vei fi contactat pentru confirmare si pentru plata avansului, pe care ti-l vom comunica in urma confirmarii. Pentru intrebari si nelamuriri, te rugam sa folosesti #[a.highlight(href="/contact", title="Contact") pagina de contact].

					form.dark-grey-color(action="/inscriere/#{name}", method="post")

						if (name == 'grossglockner')
							input(type="hidden", name="formular", value="Pentru Grossglockner")
						if (name == 'montblanc')
							input(type="hidden", name="formular", value="Pentru Montblanc")
						if (name == 'elbrus')
							input(type="hidden", name="formular", value="Pentru Elbrus")
						if (name == 'maroc')
							input(type="hidden", name="formular", value="Pentru Maroc")
						if (name == 'everestbc')
							input(type="hidden", name="formular", value="Pentru Everest base camp")
						if (name == 'everesteli')
							input(type="hidden", name="formular", value="Pentru Everest base camp si intoarcerea cu elicopterul")
						if (name == 'island')
							input(type="hidden", name="formular", value="Pentru Island Peak")

						input(type="text", name="firstname", placeholder="Nume",required)
						input(type="text", name="secondname", placeholder="Prenume")
						input(type="text", name="email", placeholder="E-mail", required)
						input(type="text", name="phone", placeholder="Telefon", required)
						input.btmspace-80(type="text", name="p_address", placeholder="Adresa completa", required)

						p.font-open-sans Te rugam sa completezi formularul cat mai exact posibil. Este foarte important sa stim ce echipament detii si care este starea ta de sanatate pentru a te bucura din plin de expeditia aleasa.

						input(type="text", name="age", placeholder="Varsta")
						input(type="text", name="occupation", placeholder="Ocupatia")
						textarea.btmspace-80(type="text", name="health", placeholder="Probleme de sanatate relevante.")

						if (name !== "maroc")
							p.font-open-sans Ce echipament tehnic detii?
							div.group(data-device="#{type}").max-width-60
								span.font-open-sans
									input#casca.checkbox(type='checkbox', name='casca', value= 'da')
									label(for='casca') Casca
								span.font-open-sans
									input#piolet.checkbox(type='checkbox', name='piolet', value= 'da')
									label(for='piolet') Piolet
								span.font-open-sans
									input#coltari.checkbox(type='checkbox', name='coltari' value= 'da')
									label(for='coltari') Coltari
								span.font-open-sans
									input#ham.checkbox(type='checkbox', name='ham', value= 'da')
									label(for='ham') Ham

						textarea#body(type="text", name="experience", placeholder="Experiente anterioare in ascensiuni? Daca da, unde? ")

						button.orange trimite

	if (name == undefined || name === 'en' || name === 'ro')
		div.page-description.wrapper.dust-white-color.dark-grey
			div.container.clear.center(data-device="#{type}")
				p.font-open-sans Nu ezitat sa ne contactezi pentru a pune la cale urmatoarea ta aventura. Vom incerca sa iti raspundem cat mai repede la mesajele tale. Daca vrei sa ne intrebi ceva despre o anumita expeditie sau aventura, foloseste #[a.highlight(href='/contact', title="Contact") formularul de contact].

		div.page-description.wrapper.dust-white-color.dark-grey
			div.container.width-full.max-width-full.padding-0.clear.dark-grey(data-device="#{type}", style="align-items:normal;")

				div#full-grid.width-90(data-device="#{type}", style="height: 2000px;")
					a(href="/inscriere/patru3", title="Inscriere program 4x4 in 3 zile").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/aventura-grid-2.png'); background-size: cover; background-position: bottom center;")
						div.upper-details.orange-color
							div.date.font-1-3 aprilie - noiembrie
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Aventura 4x4 in 3 zile
							div.price.font-1-2 de la 350 Ron

					a(href="/inscriere/apuseni3", title="Inscriere program Apuseni in 3 zile").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/apuseni-3-grid-7.png'); background-size: cover; background-position: bottom center;")
						div.upper-details.orange-color
							div.date.font-1-3 aprilie - noiembrie
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Apuseni in 3 zile
							div.price.font-1-2 280 euro

					a(href="/inscriere/patru5", title="Inscriere program 4x4 in 3 zile" ).full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/aventura-5-grid-4.png'); background-size: cover; background-position: bottom center;")
						div.upper-details.orange-color
							div.date.font-1-3 aprilie - noiembrie
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Aventura 4x4 in 5 zile
							div.price.font-1-2 de la 450 ron

					a(href="/inscriere/apuseni5", title="Inscriere program Apuseni in 5 zile").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/apuseni-5-grid-4.png'); background-size: cover; background-position: bottom center;")
						div.upper-details.orange-color
							div.date.font-1-3 aprilie - noiembrie
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Apuseni in 5 zile
							div.price.font-1-2 350 euro

					a(href="/inscriere/family", title="Inscriere family survival").full-grid-item.two-third.planning
						div.flex-1(style="background-image:url('/images/family-grid-5.jpg'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 22 - 26 iulie 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Family Survival
							div.title.font-1-5 Curs supravietuire
							div.price.font-1-2 750 ron


					a(href="/inscriere/grossglockner", title="Inscriere expeditie Grossglockner").full-grid-item.full.planning
						div.flex-1(style="background-image:url('/images/grossglokner-grid-1.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Expeditie Grossglockner
							div.price.font-1-2 490 euro

					a(title="K2 basecamp").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/k2-bc.png'); background-size: cover; background-position: top center;")

						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 K2 Base Camp
							div.price.font-1-2.orange-color In curand

					a(href="http://www.extremromania.ro/catararegheata.html", title="Inscriere curs catarare pe gheata").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 14 - 16 februarie 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Catarare pe gheata
							div.price.font-1-2 450 ron

					a(href="/inscriere/elbrus", title="Inscriere expeditie Elbrus").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/elbrus-grid-5.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Varful Elbrus
							div.price.font-1-2 680 euro

					a(href="/inscriere/montblanc", title="Inscriere expeditie Mont Blanc").full-grid-item.half.planning
						div.flex-1(style="background-image:url('/images/montblanc-grid-1.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 iulie, august
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Mont Blanc
							div.price.font-1-2 750 euro

					a(href="/inscriere/maroc", title="Inscriere expeditie Maroc Jebel Toubkhal").full-grid-item.half.planning
						div.flex-1(style="background-image:url('/images/maroc-grid-5.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 11 - 18 septembrie 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Maroc si Sahara
							div.price.font-1-2 690 euro



					a(href="/inscriere/everestbc", title="Inscriere expeditie Everest Base camp").full-grid-item.two-third.planning
						div.flex-1(style="background-image:url('/images/everestbc.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 noiembrie
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Everest Base Camp
							div.price.font-1-2 1.550 euro

					a(title="Kilimanjaro").full-grid-item.third.planning
						div.flex-1(style="background-image:url('/images/kilimanjaro.png'); background-size: cover; background-position: top center;")

						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Kilimanjaro
							div.price.font-1-2.orange-color In curand

					a(href="/inscriere/everesteli", title="Inscriere expeditie Everest BC si intoarcerea cu elicopterul ").full-grid-item.half.planning
						div.flex-1(style="background-image:url('/images/everesteli-grid-4.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 11 - 23 octombrie 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Everest - Intoarcerea cu elicopterul
							div.price.font-1-2 1.850 euro

					a(href="/inscriere/island", title="Inscriere expeditie Island Peak").full-grid-item.half.planning.btmspace-50
						div.flex-1(style="background-image:url('/images/island-grid-1.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 11 - 27 octombrie 2020
						div.ribbon-small(style="background-image:url('/images/logo-form.png'); background-size: 30px 30px;")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Island Peak - Chhukung Ri + Nangkartshang
							div.price.font-1-2 1.990 euro

	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")



