extends ./index.jade

block vars
    - var title='Island Peak | Chhukung Ri-Nangkartshang | Flo Aventure Tours'
    - var description = 'Island Peak, program popular. Descopera Parcul National Sagarmatha, cultura serpasilor, festivaluri colorate si traditionalele manastiri pana punctul de belvedere Chhukung Ri alaturi de ghizii Flo Adventure. Curs si ascensiune'
    - var ogtitle= title
    - var ogDescription= description
    - var ogurl = 'http://www.floadventure.ro/island-peak-basecamp'
    - var ogimage = "http://www.floadventure.ro/images/island.png"

block content
    div.bgded.bgded-top(style="background-image:url('/images/island-background.png');")
        div.wrapper.dark-grey-color
            header#header.clear

                if device.desktop
                    div.main-nav.downspace-40.dust-white-color.flex-1.clear
                        include components/navigation
                        ul.fl.clear.dust-white-color
                            li.fl.language

                                if (lang === 'en')
                                    a(href="/island-peak-basecamp/en") en
                                    ul.sl
                                        li.sl
                                            a(href="/island-peak-basecamp/ro") ro
                                else
                                    a(href="/island-peak-basecamp/ro") ro
                                    ul.sl
                                        li.sl
                                            a(href="/island-peak-basecamp/en") en

                else
                    div.mobile-nav.flex-1
                        i.fa.fa-bars.fa-2x.upper.show-panel.dust-white-color
                        nav.sidenav.clear
                            include components/navigation-mobile
                        ul.fl.clear.lang.dust-white-color
                            li.fl.language

                                if (lang === 'en')
                                    a en
                                    ul.sl
                                        li.sl
                                            a(href="/island-peak-basecamp/ro") ro
                                else
                                    a ro
                                    ul.sl
                                        li.sl
                                            a(href="/island-peak-basecamp/en") en

                div#logo.text-center.flex-4.upspace-35
                    div.sign(data-device="#{type}", style="background-image:url('/images/logo-flo-adventure.png');")
                    h3.dust-white-color.font-2 Flo Adventure Tours

                    h1.font-3
                        a.dust-white-color(href="#top", title="Island Peak") Island Peak
                    h2.font-montserrat-regular.font-2.dust-white-color Chhukung Ri + Nangkartshang

    div.scroll-down
        div.chevron
        div.chevron
        div.chevron

    div.page-description.wrapper.dark-grey.light-grey-color
        div.container.clear(data-device="#{type}")

            div.page-box.flex-1(style="height: auto;")
                h4.orange-color.font-montserrat-bold Island Peak
                div.heading-sep.orange
                div.btmspace-50.font-open-sans(data-aos="fade-right")
                    p.pre-text.font-open-sans  #{i18n.__("island.descriere")}

                    div(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button-count", data-size="small" data-mobile-iframe="true").fa.fa-2x.fa-share-alt-square.inline.orange-color
                        a.orange-color.font-open-sans.share-button.fb-xfbml-parse-ignore.inline(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent(ogurl)}&amp;src=sdkpreparse", title="Share") Share


            div.page-box.flex-1-5(style="height: auto;")
                div.map(style="background-image:url('/images/harta-everestbc.png'); background-position: center;")

    div.page-description.wrapper.dark-grey.orange-color
        div.container.clear(data-device="#{type}")

            div.item-list
                div.number 6189
                div.description #{i18n.__("descriere.altitudine")}
            div.item-list
                div.number 17 #{i18n.__("data.zile")}
                div.description #{i18n.__("descriere.durata")}
            div.item-list
                div.number #{i18n.__("descriere.greu")}
                div.description #{i18n.__("descriere.dificultate")}
            div.item-list
                div.number 1400m
                div.description #{i18n.__("descriere.altitudinebaza")}


    //detalii si itinerariu
    div.page-description.wrapper.dust-grey.subtile-grey-color.font-montserrat-light
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")
            div.page-box.flex-1(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
                h4.font-montserrat-bold #{i18n.__("descriere.detalii")}
                div.heading-sep.light-grey

                p.font-effra-regular #{i18n.__("island.detalii1")}


            div.page-box.flex-1-6.subtile-grey-color
                h4.font-montserrat-bold #{i18n.__("descriere.itinerariu")}
                div.heading-sep.light-grey
                p #{i18n.__("descriere.itinerariu2")}

                h5.left.upspace-20 #{i18n.__("data.ziua1")}
                p #{i18n.__("island.itinerariu1")}
                h5.left.upspace-20 #{i18n.__("data.ziua2")}
                p #{i18n.__("island.itinerariu2")}

                h5.left.upspace-20 #{i18n.__("data.ziua3")}
                p #{i18n.__("island.itinerariu3")}

                h5.left.upspace-20 #{i18n.__("data.ziua4")}
                p #{i18n.__("island.itinerariu4")}

                h5.left.upspace-20 #{i18n.__("data.ziua5")}
                p #{i18n.__("island.itinerariu5")}

                h5.left.upspace-20 #{i18n.__("data.ziua6")}
                p #{i18n.__("island.itinerariu6")}

                h5.left.upspace-20 #{i18n.__("data.ziua7")}
                p #{i18n.__("island.itinerariu7")}
                h5.left.upspace-20 #{i18n.__("data.ziua8")}
                p #{i18n.__("everestbc.itinerariu8")}
                h5.left.upspace-20 #{i18n.__("data.ziua9")}
                p #{i18n.__("island.itinerariu9")}
                h5.left.upspace-20 #{i18n.__("data.ziua10")}
                p #{i18n.__("island.itinerariu10")}

                h5.left.upspace-20 #{i18n.__("data.ziua11")}
                p #{i18n.__("island.itinerariu11")}

                h5.left.upspace-20 #{i18n.__("data.ziua12")}
                p #{i18n.__("island.itinerariu12")}
                h5.left.upspace-20 #{i18n.__("data.ziua13")}
                p #{i18n.__("island.itinerariu13")}
                h5.left.upspace-20 #{i18n.__("data.ziua14")}
                p #{i18n.__("island.itinerariu14")}
                h5.left.upspace-20 #{i18n.__("data.ziua15")}
                p #{i18n.__("island.itinerariu15")}
                h5.left.upspace-20 #{i18n.__("data.ziua16")}
                p #{i18n.__("island.itinerariu16")}
                h5.left.upspace-20 #{i18n.__("data.ziua17")}
                p #{i18n.__("island.itinerariu17")}


    hr.cloudy
    div.image.dark-grey.cloudy-color
        div.hoc.clear.center.upspace-35.btmspace-30(data-device="#{type}")
            div.desc-item
                i.fa.fa-calendar.font-2
                span.item-header #{i18n.__("descriere.perioada")}
                span.item-text 30 #{i18n.__("data.aprilie")} - 16 #{i18n.__("data.mai")}
            div.desc-item
                i.fa.fa-male.fa-3x.font-2
                span.item-header #{i18n.__("descriere.persoane")}
                span.item-text #{i18n.__("descriere.minim")} 3
            div.desc-item
                i.fa.fa-home.fa-3x.font-2
                span.item-header #{i18n.__("descriere.cazare")}
                span.item-text #{i18n.__("descriere.hotel")}
            div.desc-item
                i.fa.fa-car.fa-3x.font-2
                span.item-header #{i18n.__("descriere.transport")}
                span.item-text #{i18n.__("descriere.avion")}

    //grid de imagini
    div.page-description.wrapper
        div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
            div#full-grid.width-full.dark-grey(data-device="#{type}")
                a(title="Flo Adventure Tours - Island Peak").full-grid-item.big
                    div.flex-1(style="background-image:url('/images/island-grid-1.png'); background-size: cover; background-position: bottom center;")
                a(title="Flo Adventure Tours - Island Peak").full-grid-item
                    div.flex-1(style="background-image:url('/images/island-grid-2.png'); background-size: cover; background-position:top;")


                a(title="Flo Adventure Tours - Island Peak").full-grid-item
                    div.flex-1(style="background-image:url('/images/island-grid-3.png'); background-size: cover; background-position: center;")
                a(title="Flo Adventure Tours - Island Peak").full-grid-item
                    div.flex-1(style="background-image:url('/images/island-grid-4.png'); background-size: cover; background-position: center;")

                a(title="Flo Adventure Tours - Island Peak").full-grid-item.half
                    div.flex-1(style="background-image:url('/images/island-grid-5.png'); background-size: cover; background-position: top;")
                a(title="Flo Adventure Tours - Island Peak").full-grid-item.big
                    div.flex-1(style="background-image:url('/images/island-grid-6.png'); background-size: cover; background-position: center;")
                a(title="Flo Adventure Tours - Island Peak").full-grid-item
                    div.flex-1(style="background-image:url('/images/island-grid-7.png'); background-size: cover; background-position: top center;")

    hr.cloudy
    //extra informatii
    div.page-description.wrapper.dust-white.dark-grey-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")

            div.page-box.flex-1.font-montserrat-light(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
                h4.font-montserrat-regular #{i18n.__("everestbc.echipamenttehnic")}
                div.heading-sep.light-grey
                span #{i18n.__("everestbc.echipamenttehnic1")}
                span #{i18n.__("everestbc.echipamenttehnic2")}
                span #{i18n.__("everestbc.echipamenttehnic3")}
                span #{i18n.__("everestbc.echipamenttehnic4")}
                span #{i18n.__("everestbc.echipamenttehnic5")}
                span #{i18n.__("everestbc.echipamenttehnic6")}
                span #{i18n.__("everestbc.echipamenttehnic7")}
                span #{i18n.__("everestbc.echipamenttehnic8")}
                span #{i18n.__("everestbc.echipamenttehnic9")}
                span #{i18n.__("everestbc.echipamenttehnic10")}
                span #{i18n.__("everestbc.echipamenttehnic11")}


                h4.font-montserrat-regular #{i18n.__("descriere.asigurare")}
                div.heading-sep.light-grey
                span #{i18n.__("descriere.asigurare1")}

            div.page-box.flex-1.font-montserrat-light

                h4.font-montserrat-regular #{i18n.__("descriere.echipament")}
                div.heading-sep.light-grey
                span #{i18n.__("everestbc.echipament1")}
                span #{i18n.__("everestbc.echipament2")}
                span #{i18n.__("everestbc.echipament3")}
                span #{i18n.__("everestbc.echipament4")}
                span #{i18n.__("everestbc.echipament5")}
                span #{i18n.__("everestbc.echipament6")}
                span #{i18n.__("everestbc.echipament7")}
                span #{i18n.__("everestbc.echipament8")}
                span #{i18n.__("everestbc.echipament9")}
                span #{i18n.__("everestbc.echipament10")}
                span #{i18n.__("everestbc.echipament11")}
                span #{i18n.__("everestbc.echipament12")}
                span #{i18n.__("everestbc.echipament13")}


    div.little-about.height-600(style="background-image:url('/images/island.png');background-size:cover;background-position: right center;")

        //extra informatii
    div.page-description.wrapper.dark-grey.cloudy-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")


            div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
                h4.font-montserrat-regular #{i18n.__("descriere.include")}
                div.heading-sep.light-grey
                span #{i18n.__("everestbc.include1")}
                span #{i18n.__("everestbc.include2")}
                span #{i18n.__("everestbc.include4")}
                span #{i18n.__("everestbc.include6")}
                span #{i18n.__("everestbc.include7")}
                span #{i18n.__("everestbc.include8")}
                span #{i18n.__("everestbc.include9")}
                span #{i18n.__("everestbc.include10")}
                span #{i18n.__("everestbc.include11")}
                span #{i18n.__("everestbc.include12")}
                span #{i18n.__("everestbc.include14")}

            div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
                h4.font-montserrat-regular #{i18n.__("descriere.nuinclude")}
                div.heading-sep.light-grey
                span #{i18n.__("everestbc.nuinclude2")}
                span #{i18n.__("everestbc.nuinclude3")}
                span #{i18n.__("everestbc.nuinclude4")}
                span #{i18n.__("everestbc.nuinclude5")}
                span #{i18n.__("everestbc.nuinclude6")}
                span #{i18n.__("everestbc.nuinclude7")}
                span #{i18n.__("everestbc.nuinclude9")}
                span #{i18n.__("everestbc.nuinclude10")}
                span #{i18n.__("everestbc.nuinclude11")}
                span #{i18n.__("everestbc.nuinclude12")}
                span #{i18n.__("everestbc.nuinclude13")}


    div.little-about.narrow.cloudy.height-400(style="background-image:url('/images/price-background-everestbc.jpg');background-size:cover;background-position: center center;")
        div.hoc.container.clear


            a.button.orange(href="/contact", title="Contact") #{i18n.__("navigation.contact")}
            a.button.dark-grey(href="/inscriere/island", title="Inscriere") #{i18n.__("descriere.rezerva")}

    hr.cloudy
    div.price-about.height-300.wrapper.dark-grey.light-grey-color
        p.font-2.dust-white-color(style="top: 80px") #{i18n.__("descriere.pretul")}

        div.overlay-text.flex-1.font-3.orange-color
            i.fa.fa-euro
            p 1990
            p.down /#{i18n.__("descriere.persoana")}

    div.repeat-ribbon.wrapper.coloured
        div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")
