extends ./index.jade

block vars
    - var title='Aventura 4x4 in 5 zile - Flo Aventure Tours'
    - var description = 'Curs in tehnici de supravietuire pe durata a 5 zile folosind masina de teren. Admiram frumusetile Apusenilor si invatam sa folosim masina 4x4 pe teren accidentat.'

block content
    div.bgded.bgded-top(style="background-image:url('/images/aventura-5.png');")
        div.wrapper.dust-white-color
            header#header.clear

                if device.desktop
                    div.main-nav.downspace-40.primary-grey-color.flex-1.clear
                        include components/navigation
                else
                    div.mobile-nav.flex-1-5
                        i.fa.fa-bars.fa-2x.upper.show-panel.dark-grey-color
                        nav.sidenav.clear
                            include components/navigation-mobile

                div#logo.text-center.flex-1
                    h1.font-4
                        a.white-color(href="#top", title="Aventura 4x4 in 5 zile") Aventura 4x4 in 5 zile
                    h3.white-color.font-2 Flo Adventure Tours

    div.scroll-down
        div.chevron
        div.chevron
        div.chevron

    div.page-description.wrapper.dust-grey.light-grey-color
        div.container.clear(data-device="#{type}")
            div.page-box.flex-1
                h4.subtile-grey-color.font-montserrat-bold Aventura maxima in Apuseni
                div.heading-sep.orange
                div.btmspace-50.font-open-sans.dark-grey-color(data-aos="fade-right")
                    p Combina aventura cu ocazia de a vedea bogatiile Apuseniilor, in 5 zile pline de suspans. Indiferent daca detii o masina 4x4 sau nu, vacanta aceasta este pentru tine. Ia-ti doza de adrenalina impreuna cu noi la Cetatile Radesei, Cetatile Ponorului, Muntele Mare, cascada Valul Miresei si multe alte minunatii.
            div.page-box.flex-1-5
                div.map(style="background-image:url('/images/harta-aventura-5.png')")

    hr.cloudy
    div.image.dust-grey.dark-grey-color
        div.hoc.clear.center.upspace-35.btmspace-30(data-device="#{type}")
            div.desc-item
                i.fa.fa-calendar.font-1-5
                span.item-header Perioada
                span.item-text Aprilie, 2019 - Noiembrie, 2019
            div.desc-item
                i.fa.fa-male.fa-3x.font-1-5
                span.item-header Persoane
                span.item-text minim 2
            div.desc-item
                i.fa.fa-map-marker.fa-3x.font-1-5
                span.item-header Regiune
                span.item-text zona Apuseni
            div.desc-item
                i.fa.fa-car.fa-3x.font-1-5
                span.item-header Transport
                span.item-text masina 4x4



    div.little-about.height-600(style="background-image:url('/images/roata.png');background-size:cover;background-position: right center;")

    //detalii si itinerariu
    div.page-description.wrapper.dust-grey.dark-grey-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")

            div.page-box.flex-1(style=("#{type}" === 'phone')? "" : "padding-right: 70px;")
                h4.font-montserrat-bold Detalii
                div.heading-sep.light-grey
                p.font-effra-regular Muntii Apuseni sunt cuprinsi intre dealurile domoale ale Depresiunii Transilvane si Campia Tisei. Acestia formeaza o veriga ce inchide spre vest arcul Carpatilor Romanesti. Ocupand o suprafata de circa 20.000 km patrati, ei apar ca o insula muntoasa. In nici o regiune din Carpatii Romaniei subsolul nu este ca un mozaic de formatiuni geologice cum este in muntii Apuseni. Golurile alpine apar de la altitudinea de 1600m in sus unde predomina gramineele, iar pe locuri mai pietroase se dezvolta tufele de ienupar, smirdar, afine si merisoare. Padurile din Muntii Apuseni adapostesc numeroase specii de animale salbatice: ursi, lupi, mistreti, rasi, cocosi de munte, veverite, caprioare, serpi chiar si vipere. Paraiele de munte sunt bogate in pastravi  care atrag multi pescari.
            div.page-box.flex-1-6
                h4.font-montserrat-bold Itinerariu
                div.heading-sep.light-grey
                p Ne tinem de program dar uneori suntem flexibili

                h5.left.upspace-15 Ziua 1 - 95 km parcursi
                p Ne intalnim cu totii in Cluj de unde se pleaca pe drum de tara de pietris combinat cu pamant. Se vor traversa pajisti si parauri pana vom ajunge in comuna Iara unde vom putea alimenta cu carburant fiind si ultima posibilitate de alimentare. De la Iara vom merge pe asfalt o bucata de drum trecand prin spectaculoasele Chei ale Runcului (zona de adapost a partizanilor care au luptat in munti contra comunistilor). Dupa parcurgerea unui traseu prin padure deasa, pe un drum de carute, iesim in platul Zapodia. Aici ne vom bucura de o priveliste superba si de locasuri de par uitate de timp. Aici incepe povestea muntilor Apuseni. Ajungem deasupra peretilor verticali de la Scarita Belioara pe care ii vom ocoli coborand pe un drum spectaculos pana la baza peretilor. Se va innopta in baza de antrenament Flo Adventure. Mancarea la ceaun va face deliciul acelei seri.

                h5.left.upspace-15 Ziua 2 - 60 km parcursi
                p Micul dejun. Va urma un curs cu mai multe aplicatii: cum sa folosesti masina si obiectele din masina in caz de supravietuire, cum sa foloseti troliu, scripeti, sufe, ocheti, modele de cricuri pentru masini de teren si folosirea lor in teren cu mult noroi, nisip sau iarba,cum sa iti pregatesti masina si ce trebuie sa ai in ea cand mergi intr-o tura la munte, noduri importante in supravietuire, folosirea corzilor. Dupa ce terminam partea practica vom pleca cu masinile pe drumuri ce ne vor duce printr-un peisaj spectaculos trecand prin paduri de foioase, apoi de conifere ajungand in pajistea alpina. Pe pantele din padurea de conifere veti invata regulile de baza cum intram si ne deplasam cu masina 4x4 in teren accidentat

                p In aceasta zi vom atinge cea mai inalta altitudine din aceasta tura de 3 zile. Vom ajunge pe al treilea varf ca inaltime din Muntii Apuseni - varful Muntele Mare, 1.826 m. Vom cobora trecand prin satul parasit Prislop, un sat care iti lasa impresia ca este bantuit de stafii. Dupa iesirea din sat vom ajunge la  altitudinea de 1756m unde vom avea ocazia de  a face practic urmatoarele aplicatii: cum sa iti procuri hrana pe munte, orientarea  in teren cu harta si busola (sau fara), cum sa iti procuri apa si sa o filtrezi, cum sa iti pregatesti masina si ce trebuie sa ai la tine cand mergi intr-o tura 4x4 la munte. Dupa terminarea aplicatiilor vom merge in zona de campare. Seara vom organiza un curs de orientare de noapte cu masina si metode de aprindere a focului. Vom incheia seara cu discutii la un foc de tabara.

                h5.left.upspace-15 Ziua 3 - 65 km parcursi
                p Micul dejun. Pregatirea masinilor si plecarea spre locul accidentului aviatic din 2014, unde doua persoane si-au pierdut viata si alte cinci au fost ranite. Dupa vizitarea memorialului vom  tine in zona  un curs despre gandirea correcta in situatii extreme(de exemplu prabusirea unui avion, ratacirea cu masina etc…). De acolo traseul va continua pe drumuri de piatra combinata si pamant prin zone superbe prin care ajungem in Poiana Horea. Pana acum, in cele 2 zile si jumatate am parcurs Muntele Mare, iar de aici vom patrunde in Muntii Bihor-Vladeasa, cunoscuti datorita compozitiei lor geologice. O sa trecem prin Poiana Calineasa si ne vom opri in satul Casa de Piatra unde vom campa.

                h5.left Ziua 4 - 25 km parcursi
                p Micul dejun. Vizitarea pesterii Coiba Mare. Pestera impresioneaza prin dimensiunea portalului (47m inaltime si 74m latime), lungimea galeriilor fiind mai mare de 4 km. De acolo ne vom indrepta spre Padis cea mai renumita zona cu relief carstic din Romania cunoscuta si in Europa. Vom vizita pestera Cetatile Radesei cu o intrare spectaculoasa, un portal inalt de 15 m in forma de ciuperca prin care intra paraul Radeasa. Pestera are forma unui tunel lung de 212m. Urmeaza deplasarea catre zona Glavoi unde vom campa. Seara vom discuta despre zilele precedente si veti avea parte de o surpriza.

                h5.left.upspace-15 Ziua 5 - 125 km parcursi
                p Dupa micul dejun  ne vom indrepta spre cel mai grandios fenomen carstic al Romaniei numit Cetatile Ponorului, cunoscut si apreciat in intreaga lume. Galeria principala a pesterii Cetatile Ponorului are o lungime de 2 km. Portalul acesteia are o inaltime de 70m si o latime de 30m. Imaginea data de portal este coplesitoare datorita dimensiunilor acesteia. Cetatile Ponorului au fost declarate rezervatie naturala in anul 1952, obtinand apoi statutul de monument al naturii aflat in custodia Academiei Romane. Inainte de sosirea la Cluj vom vizita un alt monument al naturii, Cascada Rachițele. Numita si Valul Miresei aceasta este situata pe Valea Stanciului. Este una dintre cele mai frumoase cascade din Romania, cu o cadere de apa de peste 30 de metri.

                p Conform unei legende numele cascadei ar fi dat de valul agatat al unei mirese care a cazut de pa stancile abrupte. Cascada s-a format in urma lacrimilor varsate de nuntasi. In realitate denumirea ar putea fi data de forma cascadei, care seamana cu un voal. In drum spre Cluj vom lua masa impreuna, bucurandu-ne de timpul petrecut la acest curs.

    //grid de imagini
    div.page-description.wrapper
        div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
            div#full-grid.width-full.dark-grey(data-device="#{type}")
                a.full-grid-item.big
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-1.png'); background-size: cover; background-position: bottom center;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-3.png'); background-size: cover; background-position:top;")

                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-5.png'); background-size: cover; background-position: center;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-7.png'); background-size: cover; background-position: center;")
                a.full-grid-item.half
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-4.png'); background-size: cover; background-position: center;")
                a.full-grid-item.big
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-6.png'); background-size: cover; background-position: right center;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-5-grid-8-1.png'); background-size: cover; background-position:top;")

    hr.cloudy


    //extra informatii
    div.page-description.wrapper.dark-grey.cloudy-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")
            div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 20px;")
                h3.font-montserrat-regular Vii cu masina ta de teren?
                div.heading-sep.light-grey
                p.orange-color(style="font-weight: bold;") Costul cursului include:
                p Instructorul, echipamentul pentru curs (harti, corzi, scripeti, hamuri, casti, mai multe modele de cricuri, sufe, ocheti)

                p.orange-color(style="font-weight: bold;") Costul cursului nu include:
                p Mancarea, transportul - masina de teren, combustibilul, cortul, asigurarea pe masina.

                h3.font-montserrat-regular Extra
                div.heading-sep.light-grey
                p Copii pana la varsta de 15 ani au gratuitate daca vin impreuna cu unul dintre parinti, cu masina personala.

            div.page-box.flex-1.font-montserrat-thin
                h3.font-montserrat-regular Nu vii cu masina ta de teren?
                div.heading-sep.light-grey
                p.orange-color(style="font-weight: bold;") Costul cursului include:
                p Instructorul, echipamentul pentru curs (harti, corzi, scripeti, hamuri, casti, mai multe modele de cricuri , sufe, ocheti), cort, cazare o noapte la priciuri intr-o cabanuta (in functie de numarul participantilor), transportul - masina de teren, combustibilul, asigurarea pe masina.

                p.orange-color(style="font-weight: bold;") Costul cursului nu include:
                p Mancarea pe toata durata cursului si cazarea la pensiune.


    //rezervati locul sau contacteaza-ne
    div.little-about.height-500.cloudy(style="background-image:url('/images/price-background.jpg');background-size:cover;background-position: center center;")
        div.hoc.container.clear.font-1-2
            a.button(href="/inscriere/patru5", title="Inscriere") Rezerva-ti locul
            a.button(href="/contact", title="Contact") Ai o intrebare?

    hr.cloudy
    div.price-about.height-300.wrapper.dark-grey.light-grey-color.btmspace-50


        p.font-1-2.dust-white-color Daca detineti o masina 4x4 (inclusiv SUV) si doriti sa participati cu ea la curs:
        div.overlay-text.flex-1.font-2.orange-color

            p.font-1-2 450&nbsp;
            p ron
            p.down /persoana

        p.font-1-2.dust-white-color Participare la curs fara masina:
        div.overlay-text.flex-1.font-2.orange-color

            p.font-1-2 750&nbsp;
            p ron
            p.down /persoana

    div.repeat-ribbon.wrapper.coloured
        div.repeat.dark-grey(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")
