extends ./index.jade

block content
    div.bgded.bgded-top(style="background-image:url('/images/patrol.png');")
        div.wrapper.dust-white-color
            header#header.clear

                if device.desktop
                    div.main-nav.downspace-40.olive-color.flex-1.clear
                        include components/navigation
                else
                    div.mobile-nav
                        i.fa.fa-bars.fa-2x.upper.show-panel
                        nav.sidenav.clear
                            include components/navigation

                div#logo.text-center.flex-1.upspace-35
                    h1.font-4
                        a.dust-grey-color(href="#top") Aventura 4x4 in 3 zile
                    h3.dust-grey-color.font-2 Flo Adventure Tours

    div.scroll-down
        div.chevron
        div.chevron
        div.chevron

    div.page-description.wrapper.dust-grey.light-grey-color
        div.container.clear(data-device="#{type}")
            div.page-box.flex-1
                h4.subtile-grey-color.font-montserrat-bold Adrenalina pe 4 roti
                div.heading-sep.orange
                div.btmspace-50.font-open-sans.dark-grey-color(data-aos="fade-right")
                    p Frumusetea zonei Apusenilor nu este cunoscuta de foarte multi, cu atat mai putin adaugand o picatura de aventura pe traseu. Daca te consideri aventuros si vrei sa inveti sa iti folosesti masina la adevarata putere in zone dificile dar si sa te adaptezi situatiilor limita, iesirea aceasta este pentru tine.
            div.page-box.flex-1-5
                div.map(style="background-image:url('/images/harta-apuseni-3.png')")

    hr.cloudy
    div.image.dust-grey.dark-grey-color
        div.hoc.clear.center.upspace-35.btmspace-30(data-device="#{type}")
            div.desc-item
                i.fa.fa-calendar.font-2
                span.item-header Perioada
                span.item-text Aprilie, 2019 - Noiembrie, 2019
            div.desc-item
                i.fa.fa-male.fa-3x.font-2
                span.item-header Persoane
                span.item-text minim 2
            div.desc-item
                i.fa.fa-map-marker.fa-3x.font-2
                span.item-header Regiune
                span.item-text zona Apuseni
            div.desc-item
                i.fa.fa-car.fa-3x.font-2
                span.item-header Transport
                span.item-text masina 4x4



    div.little-about(style="background-image:url('/images/platou-apuseni.png');background-size:cover;background-position: center center;")

    //detalii si itinerariu
    div.page-description.wrapper.dust-grey.dark-grey-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")
            div.page-box.flex-1(style=("#{type}" === 'phone') ? "" : "padding-right: 70px;")
                h4.font-montserrat-bold Detalii
                div.heading-sep.light-grey
                p.font-effra-regular Denumire generala pentru Carpatii Occidentali, Apusenii grupeaza la nord muntii Padurea Craiului si Vladeasa, la nord-est Muntele Mare, la est si sudul muntelui Trascau si Metaliferi si la vest Zarand si Codru Moma. In zona Muntele Mare se gaseste "bijuteria" Rezervatia Scarita Belioara si Cheile Runcului prin care vom trece. Altitudinea maxima este varful Muntele Mare – 1826m, fiind al treilea ca inaltime din muntii Apuseni.
            div.page-box.flex-1-6
                h4.font-montserrat-bold Itinerariu
                div.heading-sep.light-grey
                p Ne tinem de program, dar uneori suntem flexibili, ne adaptam la conditiile meteo si la situatiile neprevazute.

                h5.left.upspace-15 Ziua 1 - 95 km parcursi
                p Ne intalnim cu totii in Cluj de unde se pleaca pe drum de tara de pietris combinat cu pamant. Se vor traversa pajisti si parauri pana vom ajunge in comuna Iara unde vom putea alimenta cu carburant fiind si ultima posibilitate de alimentare. De la Iara vom merge pe asfalt o bucata de drum trecand prin spectaculoasele Chei ale Runcului (zona de adapost a partizanilor care au luptat in munti contra comunistilor). Valea Runcului a taiat, de-a lungul vremii, masivul calcaros Vulturese formand aceste chei. La intrarea in aceste chei, pe stanga intalnim o stanca pe care se prelinge usor apa, numita Plansul Cyclops.
                p Pe urma vom trece pe drumuri  cu pamant si piatra si vom intra  in povestea Apusenilor trecand pe langa locasuri vechi  pe care se vad trecerea timpului. Vom ajunge langa peretii verticali de la Scarita Belioara si ii vom ocoli coborand pe un drum spectaculos pana la baza peretilor de la Belioara  unde vom inopta in baza de antrenament Flo Adventure. Mancarea la ceaun va face deliciul acelei seri.

                h5.left.upspace-15 Ziua 2 - 55 km parcursi
                p Micul dejun. Va urma un curs cu mai multe aplicatii: cum sa folosesti masina si obiectele din masina in caz de supravietuire, cum sa foloseti troliu, scripeti, sufe, ocheti, modele de cricuri pentru masini de teren si folosirea lor in teren cu mult noroi, nisip sau iarba,cum sa iti pregatesti masina si ce trebuie sa ai in ea cand mergi intr-o tura la munte, noduri importante in supravietuire, folosirea corzilor.
                p Dupa ce terminam partea practica vom pleca cu masinile pe drumuri ce ne vor duce printr-un peisaj spectaculos trecand prin paduri de foioase, apoi de conifere ajungand in pajistea alpina. Pe pantele din padurea de conifere veti invata regulile de baza cum intram si ne deplasam cu masina 4x4 in teren accidentat. In aceasta zi vom atinge cea mai inalta altitudine din aceasta tura de 3 zile. Vom ajunge pe al treilea varf ca inaltime din Muntii Apuseni - varful Muntele Mare, 1.826 m. Vom cobora trecand prin satul parasit Prislop, un sat care iti lasa impresia ca este bantuit de stafii. Dupa iesirea din sat vom ajunge la  altitudinea de 1756m unde vom avea ocazia de  a face practic urmatoarele aplicatii: cum sa iti procuri hrana pe munte, orientarea  in teren cu harta si busola (sau fara), cum sa iti procuri apa si sa o filtrezi, cum sa iti pregatesti masina si ce trebuie sa ai la tine cand mergi intr-o tura 4x4 la munte.

                p Vom merge mai departe pana in zona de campare. Seara vom organiza un curs de orientare de noapte cu masina si metode de aprindere a focului, iar la final vom sta la un foc de tabara discutand despre ziua precedenta.

                h5.left.upspace-15 Ziua 3 - 85 km parcursi
                p Micul dejun. Pregatirea masinilor si plecarea spre locul accidentului aviatic din 2014, unde doua persoane si-au pierdut viata si alte cinci au fost ranite. Dupa vizitarea memorialului vom  tine in zona  un curs despre gandirea correcta in situatii extreme(de exemplu prabusirea unui avion, ratacirea cu masina etc…). De acolo traseul va continua  pe drumuri de piatra si pamant prin zone superbe pajisti si paduri dese de conifere. Inainte de sosirea in Cluj vom lua masa impreuna si ne vom bucura de timpul petrecut la curs.


    //grid de imagini
    div.page-description.wrapper
        div.container.width-full.max-width-full.padding-0.clear(data-device="#{type}")
            div#full-grid.width-full.dark-grey(data-device="#{type}")
                a.full-grid-item.big
                    div.flex-1(style="background-image:url('/images/aventura-grid-1.png'); background-size: cover;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-grid-2.png'); background-size: cover; background-position:top;")

                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-grid-5.png'); background-size: cover;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-grid-4.png'); background-size: cover; background-position: center;")
                a.full-grid-item.half
                    div.flex-1(style="background-image:url('/images/aventura-grid-3.png'); background-size: cover; background-position: center;")
                a.full-grid-item.big
                    div.flex-1(style="background-image:url('/images/aventura-grid-6.png'); background-size: cover;")
                a.full-grid-item
                    div.flex-1(style="background-image:url('/images/aventura-grid-8.png'); background-size: cover; background-position:top;")

    hr.cloudy


    //detalii si itinerariu
    div.page-description.wrapper.dark-grey.cloudy-color
        div.container.clear(data-device="#{type}", style="align-items: flex-start;")

            div.page-box.flex-1.font-montserrat-thin(style=("#{type}" === 'phone') ? "" : "padding-right: 20px;")
                h3.font-montserrat-regular Vii cu masina ta de teren?
                div.heading-sep.light-grey
                p.orange-color(style="font-weight: bold;") Costul cursului include:
                p Instructorul, echipamentul pentru curs (harti, corzi, scripeti, hamuri, casti, mai multe modele de cricuri, sufe, ocheti).

                p.orange-color(style="font-weight: bold;") Costul cursului nu include:
                p Mancarea, transportul - masina de teren, combustibilul, cortul (se poate inchiria si de la noi), asigurarea pe masina.

                h3.font-montserrat-regular Extra
                div.heading-sep.light-grey
                p Copii pana la varsta de 15 ani au gratuitate daca vin impreuna cu unul dintre parinti, cu masina personala.


            div.page-box.flex-1.font-montserrat-thin
                h3.font-montserrat-regular Nu vii cu masina ta de teren?
                div.heading-sep.light-grey
                p.orange-color(style="font-weight: bold;") Costul cursului include:
                p Instructorul, echipamentul pentru curs (harti, corzi, scripeti, hamuri, casti, mai multe modele de cricuri, sufe, ocheti), cort, cazare o noapte la priciuri intr-o cabanuta (in functie de numarul participantilor), transportul - masina de teren, combustibilul, asigurarea pe masina.

                p.orange-color(style="font-weight: bold;") Costul cursului nu include:
                p Mancarea pe toata durata cursului.

    //rezervati locul sau contacteaza-ne
    div.little-about.height-500.cloudy(style="background-image:url('/images/price-background.jpg');background-size:cover;background-position: center center;")
        div.hoc.container.clear.font-1-2
            a.button(href="/inscriere/patru3") Rezerva-ti locul
            a.button(href="/contact") Ai o intrebare?


    hr.cloudy
    div.price-about.height-300.wrapper.dark-grey.light-grey-color.btmspace-50

        p.font-1-2.dust-white-color Daca detineti o masina 4x4 (inclusiv SUV) si doriti sa participati cu ea la curs:
        div.overlay-text.flex-1.font-2.orange-color

            p.font-1-2 350&nbsp;
            p ron
            p.down /persoana

        p.font-1-2.dust-white-color Participare la curs fara masina:
        div.overlay-text.flex-1.font-2.orange-color

            p.font-1-2 650&nbsp;
            p ron
            p.down /persoana

    div.repeat-ribbon.wrapper.coloured
        div.repeat.dark-grey(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")

    //Logos and sponsors

    div.wrapper.coloured.orange
        div.hoc.clear
            figure#logos
                ul.nospace.group
                    li
                        a(href='#')
                            img(src="/images/logo-tete.png")
                    li
                        a(href='#')
                            img(src="/images/logo-free.png")
                    li
                        a(href='#')
                            img(src="/images/logo-pro.png")
                    li
                        a(href='#')
                            img(src="/images/logo-lowe.png")