extends ./index.jade

block content
	div.bgded
		div.wrapper.dark-grey
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dust-grey-color.flex-1.clear
						include components/navigation

				else
					div.mobile-nav
						i.fa.fa-bars.fa-2x.upper.show-panel.light-grey-color
						nav.sidenav.clear
							include components/navigation

				div#logo.text-center.flex-1.upspace-200
					h1.font-3
						a.dust-grey-color(href="#top") Planificator
					h3.dust-grey-color.font-1-2 Flo Adventure Tours


	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.clear(data-device="#{type}")
			h3 Februarie

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.width-full.max-width-full.padding-0.clear.dark-grey(data-device="#{type}", style="align-items:normal;")

			div#full-grid.width-full(data-device="#{type}")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.clear(data-device="#{type}")
			h3 Martie

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.width-full.max-width-full.padding-0.clear.dark-grey(data-device="#{type}", style="align-items:normal;")

			div#martie.width-full(data-device="#{type}")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.clear(data-device="#{type}")
			h3 Aprilie

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.clear(data-device="#{type}")
			h3 August

	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.width-full.max-width-full.padding-0.clear.dark-grey(data-device="#{type}", style="align-items:normal;")

			div#august.width-full(data-device="#{type}")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/elbrus-grid-4.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/montblanc-grid-2.png'); background-size: cover; background-position: bottom center;")
				a.full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kajhsdf67894.png'); background-size: cover; background-position: bottom center;")

	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")

	//Logos and sponsors

	div.wrapper.coloured.orange
		div.hoc.clear
			figure#logos
				ul.nospace.group
					li
						a(href='#')
							img(src="/images/logo-tete.png")
					li
						a(href='#')
							img(src="/images/logo-free.png")
					li
						a(href='#')
							img(src="/images/logo-pro.png")
					li
						a(href='#')
							img(src="/images/logo-lowe.png")