extends ./index.jade

block content
	div.bgded.bgded-top(style="background:url('/images/.png') black;")
		div.wrapper.dust-white-color
			header#header.hoc.clear

				if device.desktop
					nav#mainav.clear
						include components/navigation
				else
					div.mobile-nav
						i.fa.fa-bars.fa-2x.upper.show-panel
						nav.sidenav.clear
							include components/navigation

				div#logo.text-center
					h1
						a(href="#top") Weekend in Maramures
					h3.upspace-35 Flo Adventure Tours

	div.scroll-down
		div.chevron
		div.chevron
		div.chevron

	div.page-description.wrapper.dust-white.light-grey-color
		div.container.clear(data-device="#{type}")
			div.page-box.flex-1
				h4.orange-color Weekend in Maramures
				div.btmspace-50(data-aos="fade-right")
					p Neque suspendisse varius quisque ornare venenatis, ut suscipit facilisi, eu et quam eget, lacinia donec, aliquam habitant dictum. Bibendum consectetuer, tortor porttitor turpis felis eget tellus, donec sed sed lacus
			div.page-box.flex-1-5
				div.map(style="background-image:url('/images/harta-apuseni-3.png')")

	div.image.wrapper(style="background:url('/images/.png') black;", data-device='#{type}')
		div.hoc.container.clear

			div.desc-item
				i.fa.fa-calendar

				div.item-header Perioada
				div.item-text aprilie - octombrie
			div.desc-item
				i.fa.fa-male
				div.item-header Persoane
				div.item-text minim 3
			div.desc-item
				div.item-icon(style="background:url('/images/sprite.png') -52px -208px; ")
				div.item-header Dificultate
				div.item-text usor
			div.desc-item
				div.item-icon(style="background:url('/images/sprite.png') -52px -104px; ")
				div.item-header Categorie
				div.item-text aventura
			div.desc-item
				i.fa.fa-car
				div.item-header Transport
				div.item-text masina
			div.desc-item
				i.fa.fa-home
				div.item-header Cazare
				div.item-text cort/pensiune

	div.separator.wrapper.dust-white
		div.center.upspace-50.orange-color
			div.fa.fa-map-pin.fa-3x

	div.page-description.wrapper.dust-white.light-grey-color
		div.container.itinerary.clear(data-device="#{type}")
			div.page-box.left-box.flex-1
				h4.orange-color Ziua 1
				div.btmspace-50(data-aos="fade-right")
					p Sosire in Cluj-Napoca. Transfer de la aeroport in oraș, ulterior pensiune. Vizitarea orașului sau timp liber la alegere. Biserica Sf. Mihail-P-ta Unirii, Palatul Banffy, Muzeul  Etnografic.
			div.page-box.flex-1


	div.page-description.wrapper.dust-white.light-grey-color
		div.container.itinerary.clear(data-device="#{type}")
			div.page-box.flex-1

			div.page-box.right-box.flex-1
				h4.orange-color Ziua 2
				div.btmspace-50(data-aos="fade-left")
					p Mic dejun. Vizitarea Salinei Turda din care fac parte Galeria de transport Franz Josef, săpată între anii 1853-1871, Mina Iosif- sala ecourilor etc. precum și o sală de agrement cu dive§rse facilități de recreere. Urmează Rezervația Cheile Turzii, importante atât din punct de vedere științific, cât și a frumuseților sălbatice.
					p Celor aproximativ 1000 de specii floristice, vegetale, plante rare și celor 67 specii de păsări și alte animale li se adaugă o mare varietate a formelor de relief carstice cu peșteri, grohotișuri, colțuri stâncoase. Transport și cazare la Belioara.

	div.page-description.wrapper.dust-white.light-grey-color
		div.container.itinerary.clear(data-device="#{type}")
			div.page-box.left-box.flex-1
				h4.orange-color Ziua 3
				div.btmspace-50(data-aos="fade-right")
					p Mic dejun tradițional românesc. Ziua a treia este dedicată Rezervației Scărița Belioara, o rezervație geo-botanică din masivul Muntele Mare cu vârfuri muntoase înalte sub formă de turle, țarcuri și numeroase peșteri. Este un adevărat paradis pentru iubitorii de animale sălbatice și plante rare.
					p Prin ce se remarcă Scărița-Belioara? Rezervația cuprinde “Șesul Craiului” situat pe un platou calcaros la peste 1350 m altitudine, spectaculoase abrupturi ce urmăresc Valea Belioara, pereți verticali și creste ascuțite. Circuitul durează în jur de 5-6 ore si are o dificultate medie; sunt aproximativ 11 km și o diferență de nivel de 850 m. După terminarea traseului se revine în Cluj-Napoca. Cazare.
			div.page-box.flex-1

	div.separator.wrapper.dust-white
		div.center.downspace-50.orange-color
			div.fa.fa-times.fa-3x

	div.image.height-500(style="background:url('/images/.png') black;")

	div.page-description.wrapper.dust-white.dark-grey-color
		div.container.clear
			p.text Lorem ipsum dolor sit amet, sapien quam libero vestibulum tempus nec, lacus purus ut a quisque, amet class fames mattis, proin porta praesent congue sit sit. Porttitor at sit potenti potenti, mi incididunt risus massa suspendisse erat consequatur, nec vel massa libero nullam. Vehicula quam lectus amet lacus morbi


	div.image.height-500(style="background:url('/images/.png') black;")

	div.page-description.wrapper.dust-white.dark-grey-color
		div.container.clear
			p.text Lorem ipsum dolor sit amet, sapien quam libero vestibulum tempus nec, lacus purus ut a quisque, amet class fames mattis, proin porta praesent congue sit sit. Porttitor at sit potenti potenti, mi incididunt risus massa suspendisse erat consequatur, nec vel massa libero nullam. Vehicula quam lectus amet lacus morbi

	div.image.height-500.wrapper(style="background:url('/images/.png') black;")
		div.overlay
			div.overlay-text.flex-1
				i.fa.fa-euro.fa-4x
				p 280
				p.down /persoana


	div.little-about.narrow
		div.hoc.container.clear
			h4.orange-color Inscriere
			p.center.dark-grey-color Hai in vacanta cu noi in Apuseni.
			div.button Vreau sa vin